{%- liquid
    if show_dropdown_images
        if show_dropdown_images_autofill
            assign image = 'featured_image'
        else
            assign image = 'image'
        endif
    endif
    assign items_limit = menu_items_limit
    if layout
        assign promo_collection_list_blocks = blocks | where: 'type', 'promo_collection_list'
        assign promo_banner_blocks = blocks | where: 'type', 'promo_banners'
    endif
    assign sale_highlight_item = sale_highlight_item | strip | downcase
-%}
{% comment %} Menu riêng {% endcomment %}
{% if page.handle == 'home-decor' or product.template_suffix == 'wood-sign' or collection.template_suffix == 'wood-sign' or page.handle == 'home-decor-collections'%}
  {% assign realmenu = linklists.home-decor.links %}
{% else %}
  {% assign realmenu = linklists[menu].links %}
{% endif %}

{%- for link in realmenu -%}
    {%- liquid
        assign link_title_downcase = link.title | downcase
        assign link_title_strip = link.title | strip
        assign promo_collection = false
        for promo_collection_block in promo_collection_list_blocks
            if promo_collection_block.settings.menu_item == link_title_strip
                assign promo_collection = promo_collection_block
                break
            endif
        endfor
        assign promo_banner = false
        for promo_banner_block in promo_banner_blocks
            if promo_banner_block.settings.menu_item == link_title_strip
                assign promo_banner = promo_banner_block
                break
            endif
        endfor
    -%}
    {%- if layout == 'dropdown' and promo_collection == false and promo_banner == false -%}
        <li class="{% if link.links != blank %}sub sub-static{% unless main_menu_items_clickable %} inactive{% endunless %}{% endif %}{% if link.active %} active{% endif %}{% if menubar_caps %} text-uppercase{% endif %}{% if link.url == '#' and link.links != blank %} inactive{% endif %}" {% if link.active %}aria-current="page"{% endif %}>
            <a accesskey="{{ forloop.index }}" {% if main_menu_items_clickable or link.links.size == 0 %}href="{{ link.url }}"{% endif %}>
                {%- if link.object[image] and show_dropdown_images -%}
                  <span class="img">
                    <img
                      class="{% if settings.multiply_collection_images == 'multiply' %}img-multiply{% elsif settings.multiply_collection_images == 'multiply-bg' %}img-multiply-bg{% endif %}{% if show_dropdown_images_rounded %} rounded{% endif %}{% if show_dropdown_images_fill %} img-cover{% endif %}"
                      src="{{ link.object[image] | image_url: height: 60 }}"
                      srcset="{{ link.object[image] | image_url: height: 30 }} 1x,{{ link.object[image] | image_url: height: 60 }} 2x"
                      alt="{{ link.object[image].alt | default: link.title | escape }}"
                      width="30"
                      height="30"
                      loading="lazy"
                    >
                  </span>
                {%- endif -%}
                {%- if link_title_downcase == sale_highlight_item and sale_highlight -%}
                    <span class="s1bx overlay-sale">{{ link.title }}</span>
                {%- else -%}
                    {{ link.title }}
                {%- endif -%}
                {%- if link.links != blank -%}
                  <i aria-hidden="true" class="icon-chevron-down"></i>
                {%- endif -%}
            </a>
            {%- if link.links != blank %}
                <a href="./" class="toggle" style="width: 100%;">{{ 'header.navigation.view_all' | t }}</a>
                <em>({{ forloop.index }})</em>
                <ul class="ff-{{ menu_subs_font }}" style="{% if menu_subs_font == 'primary' %}--main_ff:var(--main_ff_h);{% endif %}">
                    {%- for sub in link.links -%}
                    <li>
                        <ul>
                            <li>
                                <a href="{{ sub.url }}">
                                    {{ sub.title }}
                                </a>
                                {%- if sub.links != blank %}
                                    <a href="{{ sub.url }}" class="toggle">{{ 'header.navigation.toggle_submenu' | t: item: sub.title }}</a>
                                    <ul>
                                    {%- for subsub in sub.links -%}
                                        <li>
                                            <a href="{{ subsub.url }}">
                                                {{ subsub.title }}
                                            </a>
                                        </li>
                                    {%- endfor -%}
                                    </ul>
                                {%- endif -%}
                            </li>
                        </ul>
                    </li>
                        {%- endfor -%}
                      
                </ul>
            {%- endif -%}
        </li>

    {%- else -%}

        <li class="{% if promo_collection or promo_banner  %}sub {% endif %}{% if link.links != blank %}sub{% if promo_collection or promo_banner %} sub-wide sub-classic{% endif %}{% unless main_menu_items_clickable %} inactive{% endunless %}{% endif %}{% if link.active %} active{% endif %}{% if menubar_caps %} text-uppercase{% endif %}{% if link.url == '#' and link.links != blank %} inactive{% endif %}" {% if link.active %}aria-current="page"{% endif %}
                {% if promo_collection %}{{ promo_collection.shopify_attributes }}{% elsif promo_banner %}{{ promo_banner.shopify_attributes }}{% endif %}
        >
            <a accesskey="{{ forloop.index }}" {% if main_menu_items_clickable or link.links.size == 0 %}href="{{ link.url }}"{% endif %}>
                {%- if link.object[image] and show_dropdown_images -%}
                  <span class="img">
                    <img
                        class="{% if settings.multiply_collection_images == 'multiply' %}img-multiply{% elsif settings.multiply_collection_images == 'multiply-bg' %}img-multiply-bg{% endif %}{% if show_dropdown_images_rounded %} rounded{% endif %}{% if show_dropdown_images_fill %} img-cover{% endif %}"
                        src="{{ link.object[image] | image_url: height: 60 }}"
                        srcset="{{ link.object[image] | image_url: height: 30 }} 1x,{{ link.object[image] | image_url: height: 60 }} 2x"
                        alt="{{ link.object[image].alt | default: link.title | escape }}"
                        width="30"
                        height="30"
                        loading="lazy"
                    >
                  </span>
                {%- endif -%}
                {%- if link_title_downcase == sale_highlight_item and sale_highlight -%}
                    <span class="s1bx overlay-sale">{{ link.title }}</span>
                {%- else -%}
                    {{ link.title }}
                {%- endif -%}
                {%- if link.links != blank or promo_collection or promo_banner -%}
                  <i aria-hidden="true" class="icon-chevron-down"></i>
                {%- endif -%}
            </a>
            <em>({{ forloop.index }})</em>

            {% comment %} START PROMO COLLECTION LIST {% endcomment %}
            {%- if promo_collection -%}
                <a href="./" class="toggle" style="width: 100%;">{{ 'header.navigation.view_all' | t }}</a>
                <ul>
                    <li class="wide l4cl-container">
                        {%- liquid
                            assign custom_height_ratio = promo_collection.settings.custom_image_ratio | divided_by: 100.0
                            assign image_width = 430
                            assign image_height = image_width | times: custom_height_ratio | round

                            assign limit = promo_collection.settings.collections.count | at_most: promo_collection.settings.number_of_items
                            if limit == 0
                                assign limit = promo_collection.settings.number_of_items
                            endif
                            case limit
                                when 0
                                    assign width_class = 'width-20'
                                when 2
                                    assign width_class = 'width-50'
                                when 3
                                    assign width_class = 'width-33'
                                when 4
                                    assign width_class = 'width-25'
                                when 5
                                    assign width_class = 'width-20'
                                when 6
                                    assign width_class = 'width-16'
                                when 7
                                    assign width_class = 'width-14'
                                else
                                    assign width_class = 'width-12'
                            endcase
                            assign img_width_limit = limit
                            assign img_width = 100 | divided_by: img_width_limit

                          if promo_collection.settings.show_link and promo_collection.settings.link_text != empty and promo_collection.settings.link_url != blank
                            assign promo_collection_link = true
                            assign button_color = promo_collection.settings.button_style | split: ' ' | first
                            assign button_style = promo_collection.settings.button_style | split: ' ' | last
                            assign is_link = false
                            if button_style == 'link'
                              assign is_link = true
                            endif
                          endif

                            if promo_collection.settings.title != empty
                                assign show_header = true
                            elsif link and promo_collection.settings.text_alignment == 'start'
                                assign show_header = true
                            endif

                            capture title_classes
                                if promo_collection.settings.text_alignment == 'center'
                                    echo 'text-center align-center'
                                endif
                            endcapture

                            assign slider = true
                            if promo_collection.settings.layout == 'grid'
                                assign slider = false
                            elsif promo_collection.settings.collections.count <= promo_collection.settings.number_of_items
                                assign slider = false
                            endif
                        -%}
                        {%- if promo_collection_link %}
                            {%- capture promo_collection_link -%}
                              <p class="class-x link-btn"><a href="{{ promo_collection.settings.link_url }}" class="overlay-{{ button_color }} {% if is_link %}strong inline{% else %}{{ button_style }}{% endif %}">{{ promo_collection.settings.link_text }}{% if is_link %}&nbsp;<i aria-hidden="true" class="icon-arrow-right"></i>{% endif %}</a></p>
                            {%- endcapture %}
                        {%- endif -%}
                        {%- if show_header -%}
                            <header class="
                              {{ title_classes }} align-down cols title-styling
                              {% if promo_collection.settings.title_underline_style != 'none' %}
                                title-underline-none
                                {% if promo_collection.settings.title_underline_style contains 'accent' %}
                                  title-underline-accent
                                {% elsif promo_collection.settings.title_underline_style contains 'gradient' %}
                                  title-underline-gradient
                                {% endif %}
                                {% if promo_collection.settings.title_underline_style contains 'secondary_font' %}
                                  title-underline-secondary-font
                                {% endif %}
                              {% endif %}
                            ">
                              {%- if promo_collection.settings.title != empty -%}
                                <div>
                                    {{ promo_collection.settings.title }}
                                </div>
                              {%- endif -%}
                              {%- if promo_collection_link and promo_collection.settings.text_alignment == 'start' -%}
                                  {{ promo_collection_link | replace: 'class-x', 'mobile-hide' }}
                              {%- endif -%}
                            </header>
                        {%- endif -%}
                        <ul class="l4cl offset catalog {{ width_class }} {% if slider %}slider{% endif %}{% if promo_collection.settings.show_in_circle and promo_collection.settings.custom_image_ratio == 100 %} rounded{% endif %} {% if promo_collection.settings.mobile_layout == "grid" %} mobile-scroll{% endif %}"
                            style="--ratio:{{ promo_collection.settings.custom_image_ratio | divided_by: 100.0 }}">
                            {%- if promo_collection.settings.collections == blank %}
                                {%- for i in (1..promo_collection.settings.number_of_items) %}
                                    {%- liquid
                                        capture current
                                            cycle 1, 2, 3, 4, 5
                                        endcapture
                                    -%}
                                    <li>
                                        <figure class="{% if settings.multiply_collection_images == 'multiply' %}img-multiply{% elsif settings.multiply_collection_images == 'multiply-bg' %}img-multiply-bg{% endif %}"
                                                style="--ratio:{{ promo_collection.settings.custom_image_ratio | divided_by: 100.0 }}">
                                            {% unless promo_collection.settings.show_below %}<a href="{{ collection.url }}">{% endunless %}
                                            <span class="palette-{{ promo_collection.settings.color_palette }} module-color-palette img-overlay" style="--overlay_opacity:{{ promo_collection.settings.image_overlay_opacity | divided_by: 100.0 }}"></span>
                                            <picture>
                                                {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                            </picture>
                                            {% unless promo_collection.settings.show_below %}</a>{% endunless %}
                                            {% if promo_collection.settings.show_collection_titles and promo_collection.settings.show_below == false %}
                                                <{{ promo_collection.settings.collection_title_size }} class="figcaption {% if promo_collection.settings.collection_title_position == 'center' %} text-center{% endif %}">Collection title {% if promo_collection.settings.show_arrow %}<i aria-hidden="true" class="icon-arrow-right invisible"></i>{% endif %}</{{ promo_collection.settings.collection_title_size }}>
                                            {% endif %}
                                        </figure>
                                        {% if promo_collection.settings.show_collection_titles and promo_collection.settings.show_below %}
                                            <div>
                                                <{{ promo_collection.settings.collection_title_size }} class="{% if promo_collection.settings.collection_title_position == 'center' %} text-center{% endif %}"><a href="{{ collection.url }}">Collection title {% if promo_collection.settings.show_arrow %}<i aria-hidden="true" class="icon-arrow-right invisible"></i>{% endif %}</a></{{ promo_collection.settings.collection_title_size }}>
                                            </div>
                                        {% endif %}
                                    </li>
                                {%- endfor -%}
                            {%- else %}
                                {%- for collection in promo_collection.settings.collections -%}
                                    {%- liquid
                                        capture current
                                            cycle 1, 2, 3, 4, 5, 6
                                        endcapture
                                    -%}
                                    <li {% unless promo_collection.settings.show_below %}class="palette-{{ promo_collection.settings.color_palette }} module-color-palette"{% endunless %}>
                                        <figure class="{% if settings.multiply_collection_images == 'multiply' %} img-multiply{% elsif settings.multiply_collection_images == 'multiply-bg' %}img-multiply-bg{% endif %}{% if promo_collection.settings.fill_images %} img-cover{% endif %}">
                                            {% unless promo_collection.settings.show_below %}<a href="{{ collection.url }}">{% endunless %}
                                            <span class="palette-{{ promo_collection.settings.color_palette }} module-color-palette img-overlay" style="opacity:{{ promo_collection.settings.image_overlay_opacity | divided_by: 100.0 }}"></span>
                                            <picture>
                                                {% if collection.featured_image %}
                                                    <img
                                                        src="{{ collection.featured_image | image_url: width: image_width, height: image_height }}"
                                                        srcset="{% render 'image-srcset', image: collection.featured_image %}"
                                                        sizes="
                                                          {% if header_width < 2000 %}
                                                            (min-width: 1300px) {% if img_width == 100 %}calc({{ header_width }}px * 0.2){% else %}calc({{ header_width }}px * 0.{{ img_width }}){% endif %},
                                                          {% endif %}
                                                          (min-width: 760px) {% if img_width == 100 %}calc(100vw * 0.2){%-else -%}calc(100vw * 0.{{ img_width }}){% endif %},
                                                          141px
                                                        "
                                                        width="{{ image_width }}"
                                                        height="{{ image_height }}"
                                                        alt="{{ collection.featured_image.alt | default: collection.title | escape }}"
                                                        loading="lazy"
                                                    >
                                                {% else %}
                                                    {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                                {% endif %}
                                            </picture>
                                            {% if promo_collection.settings.show_collection_titles and promo_collection.settings.show_below == false %}
                                                <{{ promo_collection.settings.collection_title_size }} class="figcaption {% if promo_collection.settings.collection_title_position == 'center' %} text-center{% endif %}">{{ collection.title }} {% if promo_collection.settings.show_arrow %}<i aria-hidden="true" class="icon-arrow-right invisible"></i>{% endif %}</{{ promo_collection.settings.collection_title_size }}>
                                            {% else %}
                                                <a class="link-overlay" href="{{ collection.url }}" aria-label="{{ collection.title }}"></a>
                                            {% endif %}
                                            {% unless promo_collection.settings.show_below %}</a>{% endunless %}
                                        </figure>
                                        {% if promo_collection.settings.show_collection_titles and promo_collection.settings.show_below %}
                                            <div>
                                                <{{ promo_collection.settings.collection_title_size }} class="{% if promo_collection.settings.enable_custom_text_styling %}text-palette-{{ promo_collection.settings.text_color_palette }}{% endif %}{% if promo_collection.settings.collection_title_position == 'center' %} text-center{% endif %}"><a href="{{ collection.url }}">{{ collection.title }} {% if promo_collection.settings.show_arrow %}<i aria-hidden="true" class="icon-arrow-right invisible"></i>{% endif %}</a></{{ promo_collection.settings.collection_title_size }}>
                                            </div>
                                        {% endif %}
                                    </li>
                                {%- endfor -%}
                            {% endif -%}
                        </ul>
                        {%- if promo_collection_link and promo_collection.settings.text_alignment == 'center' -%}
                            {{ promo_collection_link | replace: 'class-x', 'text-center' }}
                        {%- elsif promo_collection_link and promo_collection.settings.text_alignment == 'start' -%}
                            {{ promo_collection_link | replace: 'class-x', 'mobile-only' }}
                        {%- endif -%}

                    </li>
                </ul>
            {%- endif -%}
            {% comment %} END PROMO COLLECTION LIST {% endcomment %}

            {%- if promo_collection == false and link.links != blank or promo_banner %}
                <a id="conga" href="./" class="toggle">{{ 'header.navigation.view_all' | t }}</a>
                <style>
                  @media (max-width: 768px)
                  {
                    #conga {
                      width:100% !important;
                    }
                  }
                </style>
                <ul{% if promo_banner and link.links != blank %} class="submenu-tabs disabled"{% endif %}>
                    {%- liquid
                        assign split = false
                        assign item_nr = 0
                        assign total_nr_of_items = 0
                        for sub in link.links
                            assign nr_of_items = sub.links.size | at_most: items_limit
                            assign total_nr_of_items = total_nr_of_items | plus: nr_of_items | plus: 1
                            if sub.links.size > items_limit
                                assign total_nr_of_items = total_nr_of_items | plus: 1
                            endif
                        endfor
                        if total_nr_of_items > 30
                            assign nr_of_items_per_col = total_nr_of_items | divided_by: items_limit
                        else
                            assign nr_of_items_per_col = 6
                        endif

                        if promo_banner
                            if total_nr_of_items > 12
                                assign nr_of_items_per_col = total_nr_of_items | divided_by: 2
                            else
                                assign nr_of_items_per_col = total_nr_of_items
                            endif
                        endif
                    -%}
                    {%- for sub in link.links -%}
                    {% if split or forloop.first %}
                    {% assign split = false %}
                    {%- capture submenu_column_classes -%}{% if promo_banner %}width-25 submenu-tabs-header{% else %}{% if total_nr_of_items > 12 %}width-20{% else %}width-50{% endif %}{% endif %} ff-{{ menu_subs_font }}{%- endcapture -%}
                    {{ '<li class="' | append: submenu_column_classes | append: '"><ul>' }}
                            {% endif %}
                            <li>
                                {%- liquid
                                    assign item_nr = item_nr | plus: 1
                                    assign item_modulo = item_nr | modulo: nr_of_items_per_col
                                    if item_modulo == 0
                                        assign split = true
                                    endif
                                -%}
                                <a href="{{ sub.url }}" data-split="{{ split }}" id="sub-menu-row">
                                    {{ sub.title }}
                                </a>

                                {%- if sub.links != blank %}
                                    <a href="{{ sub.url }}" class="toggle" style="width:100%;">{{ 'header.navigation.toggle_submenu' | t: item: sub.title }}</a>
                                    <ul>
                                        {%- for subsub in sub.links -%}
                                            {%- liquid
                                                if forloop.index <= items_limit
                                                    assign item_nr = item_nr | plus: 1
                                                endif
                                                assign item_modulo = item_nr | modulo: nr_of_items_per_col
                                                if item_modulo == 0
                                                    assign split = true
                                                endif
                                            -%}
                                            <li{% if forloop.index > items_limit %} class="mobile-only"{% endif %}>
                                                <a href="{{ subsub.url }}">
                                                    {{ subsub.title }}
                                                </a>
                                            </li>
                                        {%- endfor -%}
                                        {%- if sub.links.size > items_limit -%}
                                            {%- liquid
                                                assign item_nr = item_nr | plus: 1
                                                assign item_modulo = item_nr | modulo: nr_of_items_per_col
                                                if item_modulo == 0
                                                    assign split = true
                                                endif
                                            -%}
                                            <li class="overlay-theme mobile-hide"><a href="{{ sub.url }}" aria-label="{{ 'header.navigation.view_more' | t }}">{{ 'header.navigation.view_more' | t }}&nbsp;<i aria-hidden="true" class="icon-arrow-right"></i></a></li>
                                        {%- endif -%}
                                    </ul>
                                {%- endif -%}
                            </li>
                            {% if split or forloop.last %}
                            {{ '</ul></li>' }}
                        {% endif %}
                        {%- endfor -%}

                    {% comment %} START PROMO BANNER COLUMNS {% endcomment %}
                    {%- if promo_banner and promo_collection == false -%}
                        <li class="l4cl-container{% if link.links != blank %} {% if total_nr_of_items > 12 %}width-50{% else %}width-75{% endif %}{% endif %}">
                            {%- if link.links != blank -%}<div class="submenu-tabs-content">{%- endif -%}
                            <ul class="l4ft
                              {% if promo_banner.settings.width == 'wide' %}fullwidth{% endif %}
                              {% unless promo_banner.settings.image_zoom %}no-hover{% endunless %}
                              {% if promo_banner.settings.layout_mobile == 'rows' %}mobile-scroll{% endif %}
                              "
                                style="--spacing: {{ promo_banner.settings.space_between }}px;"
                            >
                                {%- liquid
                                    assign nr_of_items = 0
                                    if promo_banner.settings.enable_banner_1
                                        assign nr_of_items = nr_of_items | plus: 1
                                    endif
                                    if promo_banner.settings.enable_banner_2
                                        assign nr_of_items = nr_of_items | plus: 1
                                    endif
                                    assign width_class = 'width-100'
                                    assign img_width = 100
                                    if nr_of_items == 2 and promo_banner.settings.layout == 'columns'
                                        assign width_class = 'width-50'
                                        assign img_width = 50
                                    endif
                                -%}
                                {%- for i in (1..2) -%}
                                    {%- liquid
                                        capture current
                                            cycle 1, 2
                                        endcapture
                                        assign enable_banner_handle = 'enable_banner_x' | replace: 'x', forloop.index
                                        assign enable_banner = promo_banner.settings[enable_banner_handle]
                                        if enable_banner
                                            assign image_handle = 'image_x' | replace: 'x', forloop.index
                                            assign banner_image = promo_banner.settings[image_handle]
                                            assign video_handle = 'video_x' | replace: 'x', forloop.index
                                            assign video = promo_banner.settings[video_handle]
                                            assign overlay_opacity_handle = 'overlay_opacity_x' | replace: 'x', forloop.index
                                            assign overlay_opacity = promo_banner.settings[overlay_opacity_handle]
                                            assign enable_controls_handle = 'enable_controls_x' | replace: 'x', forloop.index
                                            assign enable_controls = promo_banner.settings[enable_controls_handle]
                                            assign color_palette_handle = 'color_palette_x' | replace: 'x', forloop.index
                                            assign color_palette = promo_banner.settings[color_palette_handle]
                                            assign text_position_handle = 'text_position_y' | replace: 'y', forloop.index
                                            assign text_position = promo_banner.settings[text_position_handle]
                                            assign title_handle = 'title_x' | replace: 'x', forloop.index
                                            assign title = promo_banner.settings[title_handle]
                                            assign title_font_handle = 'title_font_x' | replace: 'x', forloop.index
                                            assign title_font = promo_banner.settings[title_font_handle]
                                            assign title_size_handle = 'title_size_x' | replace: 'x', forloop.index
                                            assign title_size = promo_banner.settings[title_size_handle]
                                            assign title_underline = 'title_x_underline_style' | replace: 'x', forloop.index
                                            assign show_underline = promo_banner.settings[title_underline]
                                            assign enable_custom_text_styling_handle = 'enable_custom_text_styling_z' | replace: 'z', forloop.index
                                            assign enable_custom_text_styling = promo_banner.settings[enable_custom_text_styling_handle]
                                            assign title_color_palette_handle = 'title_color_palette_x' | replace: 'x', forloop.index
                                            assign title_color_palette = promo_banner.settings[title_color_palette_handle]
                                            assign title_weight_handle = 'title_weight_x' | replace: 'x', forloop.index
                                            assign title_weight = promo_banner.settings[title_weight_handle]
                                            assign text_handle = 'text_y' | replace: 'y', forloop.index
                                            assign text = promo_banner.settings[text_handle]
                                            assign enable_custom_font_styling_handle = 'enable_custom_font_styling_x' | replace: 'x', forloop.index
                                            assign enable_custom_font_styling = promo_banner.settings[enable_custom_font_styling_handle]
                                            assign font_size_handle = 'font_size_x' | replace: 'x', forloop.index
                                            assign font_size = promo_banner.settings[font_size_handle]
                                            assign show_link_handle = 'show_link_x' | replace: 'x', forloop.index
                                            assign show_link = promo_banner.settings[show_link_handle]
                                            assign link_text_handle = 'link_text_y' | replace: 'y', forloop.index
                                            assign link_text = promo_banner.settings[link_text_handle]
                                            assign link_url_handle = 'link_url_x' | replace: 'x', forloop.index
                                            assign link_url = promo_banner.settings[link_url_handle]
                                            assign button_style_handle = 'button_style_x' | replace: 'x', forloop.index
                                            assign button_style = promo_banner.settings[button_style_handle]
                                            assign image_mobile_handle = 'image_mobile_x' | replace: 'x', forloop.index
                                            assign banner_image_mobile = promo_banner.settings[image_mobile_handle]
                                            assign button_color = button_style | split: ' ' | first
                                            assign button_style = button_style | split: ' ' | last
                                            assign is_link = false
                                            if button_style == 'link'
                                              assign is_link = true
                                            endif
                                        endif
                                    -%}
                                    {%- if enable_banner -%}
                                        <li class="block-{{ block.id }}
                                          {{ text_position }}
                                          {{ width_class }}
                                          {{ promo_banner.settings.height }}
                                          {{ promo_banner.settings.mobile_height }}-mobile
                                          {% if different_width_class %}{{ different_width_class }}{% endif %}
                                          {{ border_class }}
                                          "
                                          style="{% if promo_banner.settings.enable_custom_height %}--mih_desktop: {{ promo_banner.settings.custom_height }}px;{% endif %}{% if enable_custom_font_styling %}font-size:{{ font_size }};{% endif %}"
                                        >
                                          {%- if forloop.index == items_per_row -%}
                                            {% assign counter = 1 %}
                                          {%- else -%}
                                            {% assign counter = counter | plus: 1 %}
                                          {%- endif -%}
                                          <div class="palette-{{ color_palette }}
                                              module-color-palette
                                              main">
                                            <figure>
                                              {%- if video -%}
                                                {% if enable_controls %}<a href="./" class="link-overlay{% if banner_image_mobile %} mobile-hide{% endif %}" aria-label="{{ title | escape | default: "Play video" }}"></a>{% endif %}
                                                <picture {% if banner_image_mobile %}class="mobile-hide"{% endif %}>
                                                  <span class="img-overlay" style="opacity:{{ overlay_opacity | divided_by: 100.0 }}"></span>
                                                  {%- liquid
                                                    assign source = video.sources | where: "height", 1080 | where: "format", "mp4" | first
                                                    if source == nil
                                                      assign source = video.sources | where: "format", "mp4" | first
                                                    endif
                                                    if source == nil
                                                      assign source = video.sources | where: "format", "mov" | first
                                                    endif
                                                    if source == nil
                                                      assign source = video.sources.first
                                                    endif
                                                  -%}
                                                  <video class="lazy next-video" {% unless enable_controls %}autoplay{% endunless %} muted loop playsinline poster="{{ video.preview_image | image_url }}">
                                                    <source data-src="{{ source.url }}" type="video/mp4">
                                                  </video>
                                                </picture>
                                                {% if enable_controls %}
                                                  <i aria-hidden="true" class="icon-play {% if banner_image_mobile %}mobile-hide{% endif %}"></i>
                                                {% endif %}
                                                {% if banner_image_mobile %}
                                                  <picture class="mobile-only">
                                                    <span class="img-overlay" style="opacity:{{ overlay_opacity | divided_by: 100.0 }}"></span>
                                                    <img
                                                      src="{{ banner_image_mobile | image_url: width: 620 }}"
                                                      srcset="{% render 'image-srcset', image: banner_image_mobile %}"
                                                      sizes="(min-width: 765px) 0, {% if promo_banner.settings.layout_mobile == 'compact' %}315px{% else %}100vw{% endif %}"
                                                      width="620"
                                                      height="700"
                                                      alt="{{ image_mobile.alt | default: title | escape }}"
                                                      style="object-position: {{ banner_image.presentation.focal_point }}"
                                                      class="mobile-only"
                                                      loading="lazy"
                                                    >
                                                  </picture>
                                                {% endif %}
                                              {%- elsif banner_image -%}
                                              {% if banner_image_mobile %}
                                                <picture class="mobile-only">
                                                    <span class="img-overlay" style="opacity:{{ overlay_opacity | divided_by: 100.0 }}"></span>
                                                    <img
                                                      src="{{ banner_image_mobile | image_url: width: 620 }}"
                                                      srcset="{% render 'image-srcset', image: banner_image_mobile %}"
                                                      sizes="(min-width: 765px) 0, {% if promo_banner.settings.layout_mobile == 'compact' %}315px{% else %}100vw{% endif %}"
                                                      width="620"
                                                      height="700"
                                                      alt="{{ banner_image_mobile.alt | default: title | escape }}"
                                                      style="object-position: {{ banner_image.presentation.focal_point }}"
                                                      loading="lazy"
                                                    >
                                                </picture>
                                                {% endif %}
                                                <picture {% if banner_image_mobile %}class="mobile-hide"{% endif %}>
                                                  <span class="img-overlay" style="opacity:{{ overlay_opacity | divided_by: 100.0 }}"></span>
                                                    <img
                                                      src="{{ banner_image | image_url: width: 620 }}"
                                                      srcset="{% render 'image-srcset', image: banner_image %}"
                                                      sizes="
                                                        {% if header_width < 2000 %}
                                                             {% if link.links != blank %}
                                                             (min-width: 765px) {% if img_width == 100 %}calc({{ header_width }}px * 0.5){% else %}calc(({{ header_width }}px * 0.{{ img_width }}) * 0.5 ){%- endif -%},
                                                             {% else %}
                                                              (min-width: 765px) {% if img_width == 100 %}{{ header_width }}px{% else %}calc({{ header_width }}px * 0.{{ img_width }}){%- endif -%},
                                                             {% endif %}
                                                         {% else %}
                                                            {% if link.links != blank %}
                                                              (min-width: 765px) {% if img_width == 100 %}50vw{% else %}calc(50vw * 0.{{ img_width }}){%- endif -%},
                                                            {% else %}
                                                              (min-width: 765px) {% if img_width == 100 %}100vw{% else %}calc(100vw * 0.{{ img_width }}){%- endif -%},
                                                            {% endif %}
                                                         {% endif %}
                                                         {% if banner_image_mobile %}0{% else %}330px{% endif %}
                                                      "
                                                      width="620"
                                                      height="700"
                                                      alt="{{ banner_image.alt | default: title | escape }}"
                                                      style="object-position: {{ banner_image.presentation.focal_point }}"
                                                      loading="lazy"
                                                    >
                                                </picture>
                                              {% else %}
                                                <picture>
                                                  <span class="img-overlay" style="opacity:{{ overlay_opacity | divided_by: 100.0 }}"></span>
                                                  {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                                </picture>
                                              {% endif %}
                                            </figure>
                                            {%- if promo_banner.settings.show_content_below == false -%}
                                            <div>
                                                {%- if title != empty -%}
                                                    <div class="
                                                        {% if show_underline != 'none' %}
                                                          title-underline-none
                                                          {% if show_underline contains 'accent' %}
                                                            title-underline-accent
                                                          {% elsif show_underline contains 'gradient' %}
                                                            title-underline-gradient
                                                          {% endif %}
                                                          {% if show_underline contains 'secondary_font' %}
                                                            title-underline-secondary-font
                                                          {% endif %}
                                                        {% endif %}
                                                    ">
                                                        {{ title }}
                                                    </div>
                                                {%- endif -%}
                                              {%- if text -%}{{ text }}{%- endif -%}
                                              {%- if show_link and link_text != empty and link_url != blank -%}
                                                <p class="link-btn">
                                                    <a href="{{ link_url }}" class="overlay-{{ button_color }} {% if is_link %}inline{% else %}{{ button_style }}{% endif %}">
                                                        {{ link_text }}&nbsp;{% if is_link %}&nbsp;<i aria-hidden="true" class="icon-arrow-right"></i>{% endif %}
                                                    </a>
                                                </p>
                                              {%- endif %}
                                            </div>
                                            {%- endif -%}
                                            {%- unless video -%}
                                              {%- if settings.banners_clickable and link_url != blank and link_text == blank -%}
                                                <a class="link-overlay" href="{{ link_url }}" aria-label="{{ title | escape | default: banner_image.alt | default: "Image banner" }}"></a>
                                              {%- endif -%}
                                            {%- endunless -%}
                                          </div>
                                          {%- if promo_banner.settings.show_content_below -%}
                                          <div class="content">
                                            {%- if title != empty -%}
                                              <{{ title_size }} class="ff-{{ title_font }} {% if enable_custom_text_styling %}text-palette-{{ title_color_palette }} fw-{{ title_weight }}{% endif %}">{{ title }}</{{ title_size }}>
                                            {%- endif -%}
                                            {%- if text -%}{{ text }}{%- endif -%}
                                            {%- if show_link and link_text != empty and link_url != blank -%}
                                              <p class="link-btn">
                                                <a href="{{ link_url }}" class="overlay-{{ button_color }} {% if is_link %}inline{% else %}{{ button_style }}{% endif %}">
                                                  {{ link_text }}&nbsp;{% if is_link %}&nbsp;<i aria-hidden="true" class="icon-arrow-right"></i>{% endif %}
                                                </a>
                                              </p>
                                            {%- endif %}
                                          </div>
                                          {%- endif -%}
                                        </li>

                                    {%- endif -%}
                                {%- endfor -%}
                            </ul>
                            {%- if link.links != blank -%}</div>{%- endif -%}
                        </li>
                    {%- endif -%}
                    {% comment %} END PROMO BANNER COLUMNS {% endcomment %}

                    {%- unless promo_banner or promo_collection or menu_recently_viewed_products == false -%}
                        <li class="wide l4cl-container recently-viewed recently-viewed-products menu-recently-viewed-products" data-recently-viewed-fill-to-items="true" data-recently-viewed-limit-to-items="true">
                            <h4 class="strong ff-primary menu-recently-viewed-products__title">{{ 'header.navigation.recently_viewed_products' | t | upcase }}</h4>
                            <ul class="l4cl width-33 menu-recently-viewed-products__list" data-number_of_items="3"></ul>
                            {%- liquid
                                assign best_seller_collection = collections['best-sellers']
                                if best_seller_collection == blank
                                    assign best_seller_collection = collections['best-seller']
                                endif
                                for best_seller_link in realmenu
                                    assign best_seller_link_title = best_seller_link.title | strip | downcase
                                    if best_seller_link_title contains 'best seller' and best_seller_link.object != blank
                                        assign best_seller_collection = best_seller_link.object
                                        break
                                    endif
                                endfor
                                assign fallback_all_collection = collections['all']
                            -%}
                            {%- if best_seller_collection != blank or fallback_all_collection != blank -%}
                                <script type="application/json" data-recently-viewed-fallback-products>
                                    [
                                        {%- liquid
                                            assign fallback_product_count = 0
                                        -%}
                                        {%- for fallback_product in best_seller_collection.products limit: 50 -%}
                                            {%- if fallback_product.selected_or_first_available_variant.requires_shipping -%}
                                                {%- if fallback_product_count > 0 -%},{%- endif -%}
                                                {
                                                    "productUrl": {{ fallback_product.url | json }},
                                                    "productId": {{ fallback_product.id | json }},
                                                    "physicalProduct": true
                                                }
                                                {%- assign fallback_product_count = fallback_product_count | plus: 1 -%}
                                            {%- endif -%}
                                        {%- endfor -%}
                                        {%- if fallback_product_count < 8 and fallback_all_collection != blank -%}
                                            {%- for fallback_product in fallback_all_collection.products limit: 50 -%}
                                                {%- if fallback_product.selected_or_first_available_variant.requires_shipping -%}
                                                    {%- if fallback_product_count > 0 -%},{%- endif -%}
                                                    {
                                                        "productUrl": {{ fallback_product.url | json }},
                                                        "productId": {{ fallback_product.id | json }},
                                                        "physicalProduct": true
                                                    }
                                                    {%- assign fallback_product_count = fallback_product_count | plus: 1 -%}
                                                {%- endif -%}
                                            {%- endfor -%}
                                        {%- endif -%}
                                    ]
                                </script>
                                <template data-recently-viewed-fallback-markup>
                                    {%- assign fallback_markup_count = 0 -%}
                                    {%- for fallback_product in best_seller_collection.products limit: 50 -%}
                                        {%- if fallback_product.selected_or_first_available_variant.requires_shipping -%}
                                            <span data-fallback-product-id="{{ fallback_product.id }}" data-fallback-product-url="{{ fallback_product.url }}" data-fallback-physical-product="true">
                                                {%- render 'product-item',
                                                    product: fallback_product,
                                                    compact: true,
                                                    show_image: true,
                                                    show_labels: false,
                                                    show_vendor: false,
                                                    show_title: false,
                                                    show_rating: false,
                                                    show_price: false,
                                                    show_stock: false,
                                                    enable_color_picker: false,
                                                    quickshop: false
                                                -%}
                                            </span>
                                            {%- assign fallback_markup_count = fallback_markup_count | plus: 1 -%}
                                        {%- endif -%}
                                    {%- endfor -%}
                                    {%- if fallback_markup_count < 8 and fallback_all_collection != blank -%}
                                        {%- for fallback_product in fallback_all_collection.products limit: 50 -%}
                                            {%- if fallback_product.selected_or_first_available_variant.requires_shipping -%}
                                                <span data-fallback-product-id="{{ fallback_product.id }}" data-fallback-product-url="{{ fallback_product.url }}" data-fallback-physical-product="true">
                                                    {%- render 'product-item',
                                                        product: fallback_product,
                                                        compact: true,
                                                        show_image: true,
                                                        show_labels: false,
                                                        show_vendor: false,
                                                        show_title: false,
                                                        show_rating: false,
                                                        show_price: false,
                                                        show_stock: false,
                                                        enable_color_picker: false,
                                                        quickshop: false
                                                    -%}
                                                </span>
                                                {%- assign fallback_markup_count = fallback_markup_count | plus: 1 -%}
                                            {%- endif -%}
                                        {%- endfor -%}
                                    {%- endif -%}
                                </template>
                            {%- endif -%}
                        </li>
                    {%- endunless -%}
                </ul>
            {%- endif -%}
        </li>
    {%- endif -%}
{%- endfor -%}
{%- if layout -%}
    <li class="show-all sub-static ff-{{ menu_subs_font }}">
        <a href="{{ routes.root_url }}" aria-controls="nav" aria-label="{{ 'header.navigation.view_more' | t }}">{{ 'header.navigation.view_more' | t }}</a>
    </li>
{%- endif -%}
<style> 
  #sub-menu-row {
    font-weight: bold !important;
  }
</style>
{% comment %} phần phụ (social - login)
<div class="menu-container-1">
    <a href="https://teeblessed.com/customer_authentication/redirect?locale=en&region_country=US" class="login-link">
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
        </svg>
        <span style="color: black !important;">Log in</span>
    </a>

    <p class="follow-text">Follow us on</p>
    <div class="social-icons">
        <a id="linkinmenumobile" href="https://www.facebook.com/teeblessedbrand/"><i class="fa-brands fa-facebook" style="color: #000000; font-size: 36px;"></i></a>
        <a id="linkinmenumobile" href="https://www.instagram.com/teeblessed.brand/"><i class="fa-brands fa-instagram" style="color: #131415; font-size: 39px;"></i></a>
        {% comment %} <a id="linkinmenumobile" href=""><i class="fa-brands fa-tiktok" style="color: #101114;font-size: 36px;"></i></a> {% endcomment %}

    </div>
</div>

<style>
    #linkinmenumobile {
    text-decoration: none;
    }
  /* CSS để tạo kiểu giống hình */


  .menu-container-1 {
      background-color: #f2f2f2; /* Màu nền xám nhạt giống hình */
      padding: 20px;
      border-radius: 0px;
      width: 100%;
      order: 1;
      position: absolute;
      bottom:0;
  }

  /* Phần Login */
  .login-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #000;
      font-weight: 700; /* Chữ đậm */
      font-size: 18px;
      margin-bottom: 15px;
  }

  .login-link svg {
      width: 24px;
      height: 24px;
      margin-right: 10px;
  }

  .login-link:hover {
      opacity: 0.7;
  }

  /* Phần Follow us */
  .follow-text {
      font-size: 16px;
      color: #333;
      margin: 0 0 10px 0;
      font-weight: 300;
  }

  .social-icons {
      display: flex;
      gap: 15px; /* Khoảng cách giữa các icon */
  }

  .social-link {
      display: inline-block;
      width: 32px;
      height: 32px;
      text-decoration: none;
      transition: transform 0.2s ease;
  }


  /* Style riêng cho các icon để khớp màu sắc trong ảnh */
  .icon-fb { color: #3b5998; } /* Màu xanh Facebook */
  .icon-insta { color: #000; }  /* Màu đen Instagram */
  .icon-tiktok { color: #000; } /* Màu đen Tiktok */
@media (min-width: 1000px) {
  .menu-container-1 {
      display: none;
  }
}
</style> {% endcomment %}
