<article
  class="popup-a {% if settings.newsletter_popup_image %}aside{% else %}w360{% endif %}"
  data-title="newsletter-popup"
  {% unless settings.show_cookiebanner %}
    data-popup-delay="{{ settings.newsletter_popup_seconds | minus: 0.5 | times: 1000 | round }}"
  {% endunless %}
  style="font-size:{{ settings.newsletter_popup_font_size }};"
>
  {%- if settings.newsletter_popup_image -%}
    {%- assign default_alt = 'newsletter.title_html' | t %}
    <figure>
      <picture>
        <img
          src="{{ settings.newsletter_popup_image | image_url }}"
          srcset="{% render 'image-srcset', image: settings.newsletter_popup_image %}"
          sizes="
            (min-width: 760px) 480px,
            100vw
          "
          width="1260"
          height="290"
          alt="{{ settings.newsletter_popup_image.alt | default: default_alt | escape }}"
          loading="lazy"
        >
      </picture>
    </figure>
  {%- endif -%}
  {%- if settings.newsletter_popup_title != empty -%}
    <header class="cols title-styling
      {% if settings.newsletter_title_underline_style != 'none' %}
        title-underline-none
        {% if settings.newsletter_title_underline_style contains 'accent' %}
          title-underline-accentn
        {% elsif settings.newsletter_title_underline_style contains 'gradient' %}
          title-underline-gradient
        {% endif %}
        {% if settings.newsletter_title_underline_style contains 'secondary_font' %}
          title-underline-secondary-font
        {% endif %}
      {% endif %}
    ">
      {{ settings.newsletter_popup_title }}
    </header>
  {%- endif -%}
  {%- if settings.newsletter_popup_text != empty -%}
    <p class="margin-15">{{ settings.newsletter_popup_text }}</p>
  {%- endif -%}
  {%- form 'customer', id: 'newsletter-popup' -%}
    {%- if form.errors -%}
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          var alertAttributes = {
              message: "{{ 'newsletter.form.email_placeholder' | t }} {{ form.errors.messages['email'] }}",
              type: 'error',
              origin: 'newsletter',
            },
            showAlertEvent = new CustomEvent('showAlert', { detail: alertAttributes });
          window.dispatchEvent(showAlertEvent);
        });
      </script>
    {%- elsif form.posted_successfully? -%}
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          var alertAttributes = {
              message: "{{ 'newsletter.form.success' | t }}",
              type: 'success',
              origin: 'newsletter',
            },
            showAlertEvent = new CustomEvent('showAlert', { detail: alertAttributes });
          window.dispatchEvent(showAlertEvent);
        });
      </script>
    {%- endif -%}
    <p class="m20">
      <label for="contact[email]">
        {{- 'newsletter.form.email_header' | t -}}
        <span class="overlay-theme">*</span></label
      >
      <input type="hidden" name="contact[tags]" value="newsletter">
      <input
        type="email"
        name="contact[email]"
        id="newsletter-popup"
        placeholder="{{ 'newsletter.form.email_placeholder' | t }}"
        aria-label="{{ 'newsletter.form.email_placeholder' | t }}"
        required
      >
    </p>
    {% if settings.enable_newsletter_terms_checkbox and settings.newsletter_terms_text != empty %}
      <div class="check">
        <input
          type="checkbox"
          name="newsletter_check-{{ section.id }}"
          id="newsletter_check-{{ section.id }}"
          aria-label="Accept the terms"
          required
        >
        <label for="newsletter_check-{{ section.id }}">{{ settings.newsletter_terms_text }}</label>
      </div>
    {% endif %}
    <p class="submit btn-mobile-wide" >
      <button id="get-discount"
        type="submit"
        {% if settings.button_style == 'inv' %}
          class="inv"
        {% endif %}
      >
        {{ 'newsletter.form.submit_button' | t }}
      </button>
      <style>
        #get-discount::before {
        background:rgb(113, 155, 226) !important;
}
      </style>
    </p>
  {%- endform -%}
</article>
