<div class="align-center margin-double" style="max-width: 720px;">
    <{{ settings.global_title_size }} class="margin-30">{{ 'customer.reset_password.title' | t }}</{{ settings.global_title_size }}>
{%- assign reset_password_form_classes = 'f8lg f8vl text-start' %}
{%- form 'reset_customer_password', class: reset_password_form_classes -%}
    {%- if form.errors -%}
        {%- for error in form.errors -%}
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var alertAttributes = { message: '{%- if error == "form" -%}{{ form.errors.messages[error] }}{%- else -%}{{ form.errors.translated_fields[error] | capitalize }} {{ form.errors.messages[error] }}{%- endif -%}', type: "error", origin: "login" },
                        showAlertEvent = new CustomEvent("showAlert", {detail: alertAttributes});
                    window.dispatchEvent(showAlertEvent);
                });
            </script>
        {%- endfor -%}
    {%- endif -%}
    <fieldset>
        <legend>{{ 'customer.reset_password.title' | t }}</legend>
        <div class="cols">
            <p class="width-50">
                <label for="password">{{ 'customer.reset_password.new_password' | t }}<span class="overlay-theme">*</span> <a href="./" class="show"><span>{{ 'general.accessibility.show' | t }}</span> <span class="hidden">{{ 'general.accessibility.hide' | t }}</span></a></label>
                <input type="password" id="password" name="customer[password]" placeholder="{{ 'customer.reset_password.new_password' | t }}" required>
            </p>
            <p class="width-50">
                <label for="password_repeat">{{ 'customer.reset_password.repeat_new_password' | t }}<span class="overlay-theme">*</span> <a href="./" class="show"><span>{{ 'general.accessibility.show' | t }}</span> <span class="hidden">{{ 'general.accessibility.hide' | t }}</span></a></label>
                <input type="password" id="password_repeat" name="customer[password_confirmation]" placeholder="{{ 'customer.reset_password.repeat_new_password' | t }}" required data-match="#password" data-match-error="{{ 'customer.register.passwords_dont_match' | t }}">
            </p>
        </div>
        <div class="cols">
            <div class="width-50">
                <p class="link-btn">
                    <button type="submit" class="wide{% if settings.button_style == 'inv' %} inv{% endif %}">{{ 'customer.reset_password.submit' | t }}</button>
                </p>
            </div>
        </div>
    </fieldset>
{%- endform -%}
</div>
