{%- liquid
  assign form_id = 'cart-form-' | append: section.id
  assign custom_height_ratio = settings.custom_product_image_ratio | divided_by: 100.0
  assign image_width = 430
  assign image_height = image_width | times: custom_height_ratio
  assign image_width_2 = image_width | times: 2
  assign image_height_2 = image_height | times: 2

  assign free_shipping_amount = settings.free_shipping_amount | replace: ',', '.' | times: 1
  assign has_free_shipping_amount = false
  if settings.enable_free_shipping
    assign has_free_shipping_amount = true
    assign free_shipping_amount = settings.free_shipping_amount | replace: ',', '.' | times: 1 | times: 100
  endif
  assign checkout_button_color = settings.checkout_button_style | split: ' ' | first
  assign checkout_button_style = settings.checkout_button_style | split: ' ' | last
-%}

{%- if cart.item_count == 0 -%}
  <article class="cart-empty text-center align-center" style="max-width: 560px;">
  <{{ section.settings.title_size }}>{{ 'cart.empty_title' | t }}</{{ section.settings.title_size }}>
  <p>{{ 'cart.empty_subtitle' | t }}</p>
  <p class="link-btn"><a href="javascript:history.back()" class="width-300{% if settings.button_style == 'inv' %} inv{% endif %}">{{ 'cart.continue_shopping' | t }}</a></p>
  </article>
{%- else -%}
  <{{ section.settings.title_size }}>{{ 'cart.title' | t }}</{{ section.settings.title_size }}>
  <article class="form-cart" data-totalqty={{ cart.item_count }}>
    <fieldset class="cols" style="--aside_width: min(552px, 33.33333%);">
        <article>
          <p><a href="javascript:history.back()" class="strong"><i aria-hidden="true" class="icon-arrow-left"></i> {{ 'cart.continue_shopping' | t }}</a></p>
          {% if section.settings.enable_terms_checkbox and section.settings.terms_text != empty %}
            <p class="check mobile-only">
              <input type="checkbox" id="check_{{ section.id }}_mobile" form="{{ form_id }}" aria-label="{{ section.settings.terms_text | strip_html | escape }}" data-bind="check_{{ section.id }}" required>
              <label for="check_{{ section.id }}_mobile">{{ section.settings.terms_text | remove: '</p>' | remove: '<p>' }}</label>
            </p>
          {% endif %}
          {%- if has_free_shipping_amount and cart.requires_shipping -%}
            {%- if free_shipping_amount > cart.total_price -%}
              <p class="s1ld" data-val="{{ cart.total_price | at_most: free_shipping_amount }}" data-of="{{ free_shipping_amount }}" style="--theme_bg_gradient:var(--{{ settings.free_shipping_progress_color }}_bg);">
                {%- assign amount = free_shipping_amount | minus: cart.total_price | money -%}
                {{ 'cart.amount_to_free_shipping_long_html' | t: amount: amount }}
              </p>
            {%- else -%}
              <ul class="l4al dont-close">
                <li class="inline overlay-valid"><span>{{ 'cart.free_shipping_long_html' | t }}</span></li>
              </ul>
            {%- endif -%}
          {%- endif -%}
          {% comment %} <div class="cols cols-mobile mobile-only align-middle">
            <div>
              <p>
                {% if cart.taxes_included %}{{ 'cart.total_including_tax' | t }}{% else %}{{ 'cart.total_excluding_tax' | t }}{% endif %}: <span class="strong">{{ cart.total_price | money }}</span>
              </p>
            </div>
            <div>
              <p class="link-btn">
              <button type="submit" class="overlay-{{ checkout_button_color }} {{ checkout_button_style }} has-info" name="checkout">
                <span class="processing">{{ 'cart.button_processing' | t }}</span>
                <span class="processed">{{ 'cart.button_proceed' | t }}</span>
                <span>{{ 'cart.checkout' | t }}</span>
              </button>
              </p>
            </div>
          </div> {% endcomment %}
          <ul class="l4ca">
            {%- for line_item in cart.items -%}
              <li class="{% unless line_item.image %} no-image{% endunless %}{% if line_item.original_line_price > line_item.final_line_price %} has-discount{% endif %}">
                <header>
                  {%- if line_item.image -%}
                    <figure class="{% if settings.fill_product_images %}img-cover{% endif %}{% if settings.multiply_product_images == 'multiply' %} img-multiply{% elsif settings.multiply_product_images == 'multiply-bg' %} img-multiply-bg{% endif %}">
                      <picture class="orientation">
                        <img
                          {% if settings.fill_product_images %}
                            src="{{ line_item | image_url: width: image_width_2, height: image_height_2, crop: 'center' }}"
                            srcset="{{ line_item | image_url: width: image_width, height: image_height, crop: 'center' }} 1x,{{ line_item | image_url: width: image_width_2, height: image_height_2, crop: 'center' }} 2x"
                          {% else %}
                            src="{{ line_item | image_url: width: image_width_2 }}"
                            srcset="{{ line_item | image_url: width: image_width }} 1x,{{ line_item | image_url: image_width_2: 210 }} 2x"
                          {% endif %}
                          width="105"
                          height="105"
                          alt="{{ line_item.image.alt | default: line_item.title | escape }}"
                          loading="lazy"
                        >
                      </picture>
                    </figure>
                  {%- endif -%}
                </header>
                <section>
                  <header>
                    <h2><a href="{{ line_item.url }}">{{ line_item.product.title }} </a></h2>
                  </header>
                  {% if line_item.unit_price_measurement %}
                    <p>{{ 'product.unit_price_label' | t }}&nbsp;{{ line_item.unit_price | unit_price_with_measurement: line_item.unit_price_measurement }}</p>
                  {% endif %}
                  {%- unless line_item.product.has_only_default_variant -%}
                    <p>
                      {%- for option in line_item.options_with_values -%}
                        {{ option.value }}{% unless forloop.last %} | {% endunless %}
                      {%- endfor -%}
                    </p>
                  {% endunless -%}
                  {%- if line_item.selling_plan_allocation -%}
                    <p>{{ line_item.selling_plan_allocation.selling_plan.name }}</p>
                  {%- endif -%}
                  {%- for property in line_item.properties -%}
                    {%- if property.first.first == '_' or property.last == blank -%}{%- continue -%}{%- endif -%}
                    <p>
                      {{ property.first }}:&nbsp;{% if property.last contains '/uploads/' %}<a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>{% else %}{{ property.last }}{% endif %}
                    </p>
                  {%- endfor -%}
                  {%- render 'product-deliverytime',
                    product: line_item.product,
                    current_variant: line_item.variant,
                    container: "p"
                  -%}
                  {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                    <p class="overlay-gray"><i aria-hidden="true" class="icon-label"></i> <span class="text-uppercase">{{ discount_allocation.discount_application.title }}&nbsp;(-{{ discount_allocation.amount | money }})</span></p>
                  {%- endfor -%}
                </section>
                <footer>
                  <p class="s1pr">
                    {%- if line_item.variant.compare_at_price > line_item.variant.price -%}<span class="old">{{ line_item.variant.compare_at_price | times: line_item.quantity | money }}</span>{%- endif -%}
                    <span>{{ line_item.final_line_price | money }}</span>
                  </p>
                  <p class="input-amount">
                    <label for="qty-{{ line_item.index | plus: 1 }}" class="hidden">{{ 'cart.product.qty' | t }}</label>
                    <input
                        type="number"
                        name="updates[]"
                        id="qty-{{ line_item.index | plus: 1 }}"
                        class="disable-on-change"
                        value="{{ line_item.quantity }}"
                        data-line="{{ forloop.index }}"
                        aria-label="quantity"
                        autocomplete="off"
                        form="{{ form_id }}"
                        data-key="{{ line_item.key }}"
                        min="{{ line_item.variant.quantity_rule.min }}"
                        {% if line_item.variant.inventory_management == 'shopify' and line_item.variant.inventory_policy == 'deny' -%}
                          max="{{ line_item.variant.inventory_quantity }}"
                        {% elsif line_item.variant.quantity_rule.max %}
                          max="{{ line_item.variant.quantity_rule.max }}"
                        {% endif %}
                        {% if line_item.variant.quantity_rule.increment %}step="{{ line_item.variant.quantity_rule.increment }}"{% endif %}
                    >
                  </p>
                  <p><a class="remove-from-cart-link" data-key="{{ line_item.key }}" role="button" href="{{ line_item.url_to_remove }}" data-line="{{ forloop.index }}"><i aria-hidden="true" class="icon-x-circle"></i> <span class="hidden">{{ 'cart.product.remove' | t }}</span></a></p>
                </footer>
              </li>
            {%- endfor -%}
          </ul>
          {%- if section.settings.show_order_notes and section.settings.order_notes_alignment == 'left' -%}
            <div class="mobile-hide">
              <p class="input-show">
                <label for="note">{{ 'cart.add_note' | t }}</label>
                <textarea name="note" id="note_{{ section.id }}" form="{{ form_id }}" placeholder="{{ 'cart.add_note_placeholder' | t }}"{% if section.settings.order_notes_alignment == 'left' %} data-bind="note_{{ section.id }}_mobile"{% endif %}>{{ cart.note }}</textarea>
              </p>
            </div>
          {%- endif -%}
        </article>
        <aside>
          {%- if section.settings.enable_discount_tab -%}
            <div class="accordion-a compact2 base-font">
              <details open>
                <summary><span class="label">{{ 'cart.discount_code.title' | t }}</span></summary>
                <div>
                  <form class="discount-form input-inline">
                    <input type="text" id="discount" name="discount" placeholder="{{ 'cart.discount_code.placeholder' | t }}">
                    <button type="submit" {% if settings.button_style == 'inv' %} class="inv"{% endif %} style="border: 2px solid #103778; font-weight: Bold; color: #103778;">{{ 'cart.discount_code.submit' | t }}</button>
                    <span class="not-applicable-error-message hidden">{{ 'cart.discount_code.not_applicable' | t }}</span>
                    <span class="already-applied-error-message hidden">{{ 'cart.discount_code.already_applied' | t }}</span>
                  </form>
                </div>
              </details>
            </div>
          {%- endif -%}
          {%- if section.blocks.size > 0 -%}
            <ul class="l4us margin-x075">
              {%- for block in section.blocks -%}
                {%- if block.type == 'shipping_timer' and cart.requires_shipping -%}
                  {%- render 'shipping-timer', block_attributes: block.shopify_attributes -%}
                {%- else -%}
                  {%- if block.settings.usp != empty -%}<li {{ block.shopify_attributes }}><span>{{ block.settings.usp | replace: '</p><p>', '<br>' | remove: '<p>' | remove: '</p>' }}</span></li>{%- endif -%}
                {%- endif -%}
              {%- endfor -%}
            </ul>
            <hr class="margin-content">
          {%- endif -%}
          {% comment %} {%- if has_free_shipping_amount and cart.requires_shipping -%}
            {%- if free_shipping_amount > cart.total_price -%}
              <p class="s1ld" data-val="{{ cart.total_price | at_most: free_shipping_amount }}" data-of="{{ free_shipping_amount }}" style="--theme_bg_gradient:var(--{{ settings.free_shipping_progress_color }}_bg);">
                {%- assign amount = free_shipping_amount | minus: cart.total_price | money -%}
                {{ 'cart.amount_to_free_shipping_long_html' | t: amount: amount }}
              </p>
            {%- else -%}
              <ul class="l4al dont-close">
                <li class="inline overlay-valid"><span>{{ 'cart.free_shipping_long_html' | t }}</span></li>
              </ul>
            {%- endif -%}
          {%- endif -%} {% endcomment %}
          <ul class="l4tt">
            {% comment %}<li><span>{{ 'cart.total_products' | t }} ({{ cart.item_count }})</span> {{ cart.items_subtotal_price | money }}</li>{% endcomment %}
            {%- if cart.cart_level_discount_applications.size > 0 -%}
             {%- for discount in cart.cart_level_discount_applications -%}
                <li class="overlay-gray">
                  <span class="text-uppercase">
                    <i aria-hidden="true" class="icon-label"></i>
                    {{ discount.title }}
                    {% if discount.type == 'discount_code' %}<a class="remove-discount inline" data-discount-code="{{ discount.title }}"><i aria-hidden="true" class="icon-x-circle overlay-gray"></i> <span class="hidden">{{ 'cart.product.remove' | t }}</span></a>{% endif %}
                  </span>
                  (-{{ discount.total_allocated_amount | money }})
                </li>
              {%- endfor -%}
            {%- endif -%}
            <li class="strong">
              <span>{{ 'cart.total' | t }}</span>
              {{ cart.total_price | money }}
            </li>
            <li><span>{{ 'cart.total_details' | t }}</span></li>
          </ul>
          {% if section.settings.enable_terms_checkbox and section.settings.terms_text != empty %}
            <p class="check">
              <input type="checkbox" id="check_{{ section.id }}" form="{{ form_id }}" aria-label="{{ section.settings.terms_text | strip_html | escape }}" data-bind="check_{{ section.id }}_mobile" required>
              <label for="check_{{ section.id }}">{{ section.settings.terms_text | remove: '</p>' | remove: '<p>' }}</label>
            </p>
          {% endif %}
          <form class="f8vl" data-hold="0" action="{{ routes.cart_url }}" method="post">
            <input type="hidden" name="attributes[collection_grid_view]" value="">
            <input type="hidden" name="attributes[collection_img_view]" value="">
            <input type="hidden" name="checkout" value="Checkout">
            <p class="link-btn wide">
              <button type="submit" class="overlay-{{ checkout_button_color }} {{ checkout_button_style }}" name="checkout">
                <span class="processing">{{ 'cart.button_processing' | t }}</span>
                <span class="processed">{{ 'cart.button_proceed' | t }}</span>
                <span>{{ 'cart.checkout' | t }}</span>
              </button>
            </p>
          </form>
          {%- if section.settings.show_dynamic_buybutton and additional_checkout_buttons -%}
            <div class="margin-20 overlay-dynamic_buy_button {{ settings.button_height }} {{ settings.button_style }}">
              {{ content_for_additional_checkout_buttons }}
            </div>
          {%- endif -%}
          {%- if section.settings.show_payment_methods -%}
            <ul class="l4pm text-center">
              {% for payment_method in shop.enabled_payment_types %}
                <li>{{ payment_method | payment_type_svg_tag }}</li>
              {% endfor %}
            </ul>
          {%- endif -%}
          {%- if section.settings.show_order_notes -%}
            <div{% if section.settings.order_notes_alignment == 'left' %} class="mobile-only"{% endif %}>
              <p class="input-show">
                <label for="note">{{ 'cart.add_note' | t }}</label>
                <textarea name="note" id="note_{{ section.id }}_mobile" form="{{ form_id }}" placeholder="{{ 'cart.add_note_placeholder' | t }}"{% if section.settings.order_notes_alignment == 'left' %} data-bind="note_{{ section.id }}"{% endif %}>{{ cart.note }}</textarea>
              </p>
            </div>
            <hr class="margin-x075">
          {%- endif -%}
        </aside>
    </fieldset>
  </article>
{%- endif -%}

{% schema %}
{
  "name": "t:main.cart.name",
  "class": "margin-double",
  "settings": [
    {
      "id": "title_size",
      "type": "select",
      "label": "t:main.cart.settings.title_size.label",
      "options": [
        {
          "value": "h5",
          "label": "t:main.cart.settings.title_size.options__1.label"
        },
        {
          "value": "h4",
          "label": "t:main.cart.settings.title_size.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:main.cart.settings.title_size.options__3.label"
        },
        {
          "value": "h2",
          "label": "t:main.cart.settings.title_size.options__4.label"
        },
        {
          "value": "h1",
          "label": "t:main.cart.settings.title_size.options__5.label"
        }
      ],
      "default": "h2"
    },
    {
      "id": "show_dynamic_buybutton",
      "type": "checkbox",
      "label": "t:main.cart.settings.show_dynamic_buybutton.label",
      "info": "t:main.cart.settings.show_dynamic_buybutton.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_discount_tab",
      "label": "t:main.cart.settings.enable_discount_tab.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_payment_methods",
      "label": "t:main.cart.settings.show_payment_methods.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_order_notes",
      "label": "t:main.cart.settings.show_order_notes.label",
      "default": true
    },
    {
      "type": "select",
      "id": "order_notes_alignment",
      "label": "t:main.cart.settings.order_notes_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:main.cart.settings.order_notes_alignment.options__1.label"
        },
        {
          "value": "right",
          "label": "t:main.cart.settings.order_notes_alignment.options__2.label"
        }
      ],
      "default": "right"
    },
    {
      "type": "header",
      "content": "t:main.cart.settings.checkbox.header"
    },
    {
      "id": "enable_terms_checkbox",
      "type": "checkbox",
      "label": "t:main.cart.settings.checkbox.enable_terms_checkbox.label"
    },
    {
      "id": "terms_text",
      "type": "richtext",
      "label": "t:main.cart.settings.checkbox.terms_text.label",
      "info": "t:main.cart.settings.checkbox.terms_text.info",
      "default": "<p>I accept the <a href='/policies/privacy-policy' title='Privacy Policy'>privacy policy</a>"
    }
  ],
  "blocks": [
    {
      "type": "usp",
      "name": "t:main.cart.blocks.usp.name",
      "settings": [
        {
          "id": "usp",
          "type": "richtext",
          "label": "t:main.cart.blocks.usp.settings.usp.label",
          "default": "<p>Give your customers more details</p>"
        }
      ]
    },
    {
      "type": "shipping_timer",
      "name": "t:main.cart.blocks.shipping_timer.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:main.cart.blocks.shipping_timer.settings.paragraph"
        }
      ]
    }
  ]
}
{% endschema %}
