
{%- liquid
  assign collections_menu = empty
  assign quick_links = empty
  assign show_menu = false
  if section.settings.enable_menu or section.settings.enable_collections
    if section.settings.enable_collections and section.settings.collections_menu != blank
      assign collections_menu = section.settings.collections_menu
    endif
    if section.settings.enable_menu
      assign quick_links = linklists[section.settings.filter_menu]
    endif
    assign show_menu = true
  endif
  assign sorting_block = section.blocks | where: 'type', 'sorting' | first
  assign show_filters_and_menu = true
  assign show_filters = section.settings.enable_filters
  if show_filters and search.filters == empty
    assign show_filters = false
  endif
  if show_menu and quick_links == empty and collections_menu == empty
    assign show_menu = false
  endif
  if show_filters == false and show_menu == false
    assign show_filters_and_menu = false
  endif
  assign show_sidebar = false
  if show_filters_and_menu and section.settings.filters_layout == 'static'
    assign show_sidebar = true
  elsif show_menu
    assign show_sidebar = true
  endif

  case section.settings.products_per_row
    when 1
      assign first_width_class = 'width-100|1'
    when 2
      assign first_width_class = 'width-50|2'
    when 3
      assign first_width_class = 'width-33|3'
    when 4
      assign first_width_class = 'width-25|4'
  endcase
  assign img_width = 100 | divided_by: section.settings.products_per_row

  case section.settings.secondary_products_per_row
    when 1
      assign secondary_width_class = 'width-100|1'
    when 2
      assign secondary_width_class = 'width-50|2'
    when 3
      assign secondary_width_class = 'width-33|3'
    when 4
      assign secondary_width_class = 'width-25|4'
  endcase
  assign first_collection_grid_view = first_width_class | split: '|' | first
  assign secondary_collection_grid_view = secondary_width_class | split: '|' | first
  if cart.attributes.collection_grid_view == first_collection_grid_view or cart.attributes.collection_grid_view == secondary_collection_grid_view
    assign width_class = cart.attributes.collection_grid_view | split: '|' | first
  else
    assign width_class = first_width_class | split: '|' | first
  endif
  assign img_width = 100 | divided_by: section.settings.products_per_row
-%}
{%- capture image_sizes -%}
  (min-width: 1300px)
  {%- if section.settings.filters_layout == 'static' or show_menu -%}
    {%- if img_width == 100 -%}
      calc((1280px - 275px) * 0.2)
    {%- else -%}
      calc((1280px - 275px) * 0.{{ img_width }})
    {%- endif -%}
  {%- else -%}
    {%- if img_width == 100 -%}
      calc(1280px * 0.2)
    {%- else -%}
      calc(1280px * 0.{{ img_width }})
    {%- endif -%}
  {%- endif -%}
  ,
  (min-width: 1000px)
  {%- if section.settings.filters_layout == 'static' or show_menu -%}
    {%- if img_width == 100 -%}
      calc((100vw - 275px) * 0.2)
    {%- else -%}
      calc((100vw - 275px) * 0.{{ img_width }})
    {%- endif -%}
  {%- else -%}
    {%- if img_width == 100 -%}
      calc(100vw * 0.2)
    {%- else -%}
      calc(100vw * 0.{{ img_width }})
    {%- endif -%}
  {%- endif -%}
  ,
  {%- if width_class == 'width-33' -%}
    100vw
  {%- else -%}
    50vw
  {%- endif -%}
{%- endcapture -%}

<div class="collection-wrapper {% if show_filters_and_menu %}m6cl{% unless show_sidebar %} wide{% endunless %}{% endif %}{% unless section.settings.filter_sticky %} static{% endunless %}">
  <div>
    {%- for block in section.blocks -%}
      {%- case block.type -%}
    	  {%- when '@app' -%}
          {% render block %}
        {%- when 'spacer' -%}
          <div class="module-spacer" style="margin-bottom:{{ block.settings.height }}px;" {{ block.shopify_attributes }}></div>
        {%- when 'title' -%}
          <header {% if block.settings.text_alignment == 'center' %}class="text-center"{% endif %} {{ block.shopify_attributes }}>
            {% if search.performed %}
              <{{ block.settings.title_size }} >{{ 'search.results_plus_term' | t: term: search.terms }}</{{ block.settings.title_size }}>
            {% else %}
              <{{ block.settings.title_size }} >{{ 'search.title' | t }}</{{ block.settings.title_size }}>
            {% endif %}
          </header>
          <form action="{{ routes.search_url }}" method="get" class="f8se no-js">
            <p class="m10">{{ 'search.amount_of_results' | t: count: search.results_count, amount: search.results_count }}</p>
            <p>
                <label for="fea" class="hidden">{{ 'search.title' | t }}</label>
                <input type="search" id="fea" name="q" placeholder="{{ 'search.search_form.placeholder' | t }}" autocomplete="off" required {% if search.performed %}value="{{ search.terms }}"{% endif %}>
                <button type="submit">{{ 'search.search_form.submit' | t }}</button>
            </p>
          </form>
          {%- liquid
            if sorting_block == nil and show_filters_and_menu
              render 'filters-sorting', display: 'mobile-filter-button', show_filters: show_filters
            endif
          -%}
        {%- when 'sorting' -%}
          {%- render 'filters-sorting',
            display: 'sorting',
            show_filters: show_filters,
            filters_layout: section.settings.filters_layout,
            origin: "search",
            object: search,
            show_amount_of_products: section.settings.show_amount_of_search_results,
            collection_grid_view: width_class,
            grid_1: first_width_class,
            grid_2: secondary_width_class
          -%}
        {%- when 'results' -%}
            {% paginate search.results by section.settings.pagination_qty %}
              {%- liquid
                assign products = search.results | where: 'object_type', 'product'
                assign articles = search.results | where: 'object_type', 'article'
                assign pages = search.results | where: 'object_type', 'page'
              -%}
              {%- if section.settings.pagination_type == 'button' and paginate.previous %}
                {% render 'pagination',
                  paginate: paginate,
                  pagination_type: section.settings.pagination_type,
                  prev_button: true
                %}
              {%- endif -%}
              <div class="results">
                {%- if products.size > 0 -%}
                  <ul id="collection" class="l4cl mobile-scroll {{ width_class }}" {{ block.shopify_attributes }}>
                    {%- for product in products -%}
                     {%- unless product.tags contains 'hidden'  %}
                      {%- liquid
                        capture placeholder_int
                          cycle 1, 2, 3, 4, 5, 6
                        endcapture
                        if forloop.first
                          assign first_productcard = true
                        else
                          assign first_productcard = false
                        endif
                      -%}
                      {%- render 'product-item',
                        product: product,
                        placeholder_int: placeholder_int,
                        type: 'both',
                        sizes: image_sizes,
                        origin: 'search',
                        fill_images: section.settings.fill_images,
                        first_productcard: first_productcard
                      -%}
                     {% endunless %}
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
                {%- if pages.size > 0 -%}
                  <hr>
                  {%- for page in pages -%}
                    <div class="margin-double">
                      <header>
                        <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
                      </header>
                      {{ page.content | strip_html | truncatewords: 50 }}
                      <br><a href="{{ page.url }}" class="strong">{{ 'general.read_more.read_more' | t }} <i aria-hidden="true" class="icon-chevron-right"></i></a>
                    </div>
                    {% unless forloop.last and articles.size == 0 %}
                      <hr>
                    {% endunless %}
                  {%- endfor -%}
                {%- endif -%}
                {%- if articles.size > 0 -%}
                  {%- if pages.size == 0 -%}<hr>{%- endif -%}
                  <ul class="l4cl width-50 size-content mobile-scroll w100-mobile" style="--ratio:{{ section.settings.custom_image_ratio | divided_by: 100.0 }}">
                    {%- for article in articles -%}
                      {%- render 'article-item',
                        article: article, show_excerpt: section.settings.show_excerpt, show_image: section.settings.show_image, show_tags: section.settings.show_tags, show_date: section.settings.show_date, show_author: section.settings.show_author, button_style: section.settings.button_style_post
                      -%}
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </div>
              {% render 'pagination',
                paginate: paginate,
                pagination_type: section.settings.pagination_type,
                show_amount: section.settings.show_amount_of_search_results
              %}
          {% endpaginate %}
      {%- endcase -%}
    {%- endfor -%}
  </div>
  {%- if show_sidebar -%}
    {%- liquid
      if section.settings.filters_layout == 'drawer'
        assign show_filters = false
        assign hide_active_filters = true
      endif
    -%}
    <aside>
      {%- render 'filters-sorting',
        display: 'filters',
        filters_layout: section.settings.filters_layout,
        object: search,
        origin: 'search',
        show_filters: show_filters,
        hide_active_filters: hide_active_filters,
        filters: search.filters,
        quick_links: quick_links,
        collections_menu: collections_menu,
        main_menu_items_clickable: section.settings.main_menu_items_clickable,
        filters_show_more_limit: section.settings.filters_show_more_limit,
        enable_filters_checkboxes: section.settings.enable_filters_checkboxes
      -%}
    </aside>
  {% endif %}
</div>

{% if section.settings.filters_layout == 'drawer' %}
  <article class="m6pn" id="filters" aria-hidden="true">
    {%- render 'filters-sorting',
      display: 'filters',
      filters_layout: section.settings.filters_layout,
      object: search,
      show_filters: section.settings.enable_filters,
      collections_menu: collections_menu,
      main_menu_items_clickable: section.settings.main_menu_items_clickable,
      show_collection_image: section.settings.show_collection_image,
      filters_show_more_limit: section.settings.filters_show_more_limit,
      enable_filters_checkboxes: section.settings.enable_filters_checkboxes
    -%}
  </article>
  <script>
    var filters = document.querySelector('.m6pn#filters');
    if (filters) {
      document.querySelector('#root').appendChild(filters);
    }
  </script>
{% endif %}

{% if section.settings.enable_custom_filters_font_size %}
  <style>
    #filters .f8fl, #filters .f8sr, #filters .n6as, #shopify-section-{{ section.id }} .f8fl, #shopify-section-{{ section.id }} .f8sr, #shopify-section-{{ section.id }} .n6as {
      --main_fz: {{ section.settings.filters_font_size }}; font-size: {{ section.settings.filters_font_size }};
    }
  </style>
{% endif %}

{% schema %}
{
  "name": "t:main.search.name",
  "class": "has-m6cl margin-double",
  "settings": [
    {
      "type": "header",
      "content": "t:main.search.settings.layout.header"
    },
    {
      "type": "range",
      "id": "pagination_qty",
      "label": "t:main.search.settings.layout.pagination_qty.label",
      "min": 12,
      "max": 48,
      "step": 4,
      "default": 12
    },
    {
      "id": "pagination_type",
      "type": "select",
      "label": "t:main.search.settings.layout.pagination_type.label",
      "options": [
        {
          "value": "pages",
          "label": "t:main.search.settings.layout.pagination_type.options__1.label"
        },
        {
          "value": "button",
          "label": "t:main.search.settings.layout.pagination_type.options__2.label"
        }
      ],
      "default": "pages"
    },
    {
      "type": "checkbox",
      "id": "show_amount_of_search_results",
      "label": "t:main.search.settings.layout.show_amount_of_search_results.label",
      "default": true
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "t:main.search.settings.layout.products_per_row.label",
      "info": "t:main.search.settings.layout.products_per_row.info",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "secondary_products_per_row",
      "label": "t:main.search.settings.layout.secondary_products_per_row.label",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 4
    },
    {
      "type": "header",
      "content": "t:main.search.settings.filters.header"
    },
    {
      "type": "checkbox",
      "id": "enable_filters",
      "label": "t:main.search.settings.filters.enable_filters.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_menu",
      "label": "t:main.search.settings.filters.enable_menu.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_collections",
      "label": "t:main.search.settings.filters.enable_collections.label",
      "default": true
    },
    {
      "type": "select",
      "id": "filters_layout",
      "label": "t:main.search.settings.filters.filters_layout.label",
      "options": [
        {
          "value": "static",
          "label": "t:main.search.settings.filters.filters_layout.options__1.label"
        },
        {
          "value": "drawer",
          "label": "t:main.search.settings.filters.filters_layout.options__2.label"
        }
      ],
      "default": "static"
    },
    {
      "type": "checkbox",
      "id": "enable_filters_checkboxes",
      "label": "t:main.search.settings.filters.enable_filters_checkboxes.label",
      "default": true
    },
    {
      "type": "link_list",
      "id": "filter_menu",
      "label": "t:main.search.settings.filters.filter_menu.label",
      "info": "t:main.search.settings.filters.filter_menu.info",
      "default": "main-menu"
    },
    {
      "type": "collection_list",
      "id": "collections_menu",
      "label": "t:main.search.settings.filters.collections_menu.label",
      "info": "t:main.search.settings.filters.collections_menu.info"
    },
    {
      "type": "checkbox",
      "id": "main_menu_items_clickable",
      "label": "t:main.search.settings.filters.main_menu_items_clickable.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "filter_sticky",
      "label": "t:main.search.settings.filters.filter_sticky.label",
      "info": "t:main.search.settings.filters.filter_sticky.info",
      "default": true
    },
    {
      "id": "filters_show_more_limit",
      "type": "range",
      "label": "t:main.search.settings.filters.filters_show_more_limit.label",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 7
    },
    {
      "type": "checkbox",
      "id": "enable_custom_filters_font_size",
      "label": "t:main.collection.settings.filters.enable_custom_filters_font_size.label"
    },
    {
      "type": "select",
      "id": "filters_font_size",
      "label": "t:main.collection.settings.filters.filters_font_size.label",
      "options": [
        {
          "value": "13px",
          "label": "t:main.collection.settings.filters.filters_font_size.options__1.label"
        },
        {
          "value": "14px",
          "label": "t:main.collection.settings.filters.filters_font_size.options__2.label"
        },
        {
          "value": "16px",
          "label": "t:main.collection.settings.filters.filters_font_size.options__3.label"
        },
        {
          "value": "18px",
          "label": "t:main.collection.settings.filters.filters_font_size.options__4.label"
        }
      ],
      "default": "14px"
    },
    {
      "type": "header",
      "content": "t:main.search.settings.filter_swatches.header"
    },
    {
      "type": "paragraph",
      "content": "t:main.search.settings.filter_swatches.paragraph"
    },
    {
      "type": "select",
      "id": "image_swatches_size",
      "label": "t:main.search.settings.filter_swatches.image_swatches_size.label",
      "options": [
        {
          "value": "xs",
          "label": "t:main.search.settings.filter_swatches.image_swatches_size.options__1.label"
        },
        {
          "value": "s",
          "label": "t:main.search.settings.filter_swatches.image_swatches_size.options__2.label"
        },
        {
          "value": "m",
          "label": "t:main.search.settings.filter_swatches.image_swatches_size.options__3.label"
        },
        {
          "value": "l",
          "label": "t:main.search.settings.filter_swatches.image_swatches_size.options__4.label"
        }
      ],
      "default": "xs"
    },
    {
      "id": "image_swatches_fill_images",
      "type": "checkbox",
      "label": "t:main.search.settings.filter_swatches.image_swatches_fill_images.label",
      "default": true
    },
    {
      "id": "image_swatches_show_in_circle",
      "type": "checkbox",
      "label": "t:main.search.settings.filter_swatches.image_swatches_show_in_circle.label",
      "info": "t:main.search.settings.filter_swatches.image_swatches_show_in_circle.info",
      "default": true
    },
    {
      "type": "header",
      "content": "t:main.search.settings.blog_posts.header"
    },
    {
      "id": "show_image",
      "type": "checkbox",
      "label": "t:main.search.settings.blog_posts.show_image.label",
      "default": true
    },
    {
      "id": "custom_image_ratio",
      "type": "range",
      "label": "t:main.blog.settings.blog_posts.custom_image_ratio.label",
      "info": "t:main.blog.settings.blog_posts.custom_image_ratio.info",
      "min": 50,
      "max": 175,
      "step": 5,
      "unit": "%",
      "default": 75
    },
    {
      "id": "show_tags",
      "type": "checkbox",
      "label": "t:main.blog.settings.show_blog_tags.label",
      "default": true
    },
    {
      "id": "show_date",
      "type": "checkbox",
      "label": "t:main.search.settings.blog_posts.show_date.label",
      "default": true
    },
    {
      "id": "show_author",
      "type": "checkbox",
      "label": "t:main.search.settings.blog_posts.show_author.label",
      "default": true
    },
    {
      "id": "show_excerpt",
      "type": "checkbox",
      "label": "t:main.search.settings.blog_posts.show_excerpt.label",
      "default": true
    },
    {
      "type": "select",
      "id": "button_style_post",
      "label": "t:sections.blog_posts.settings.blog_posts.button_style_post.label",
      "options": [
        {
          "value": "primary plain",
          "label": "t:global.button.button_style.primary.label",
          "group": "t:global.button.button_style.group.plain"
        },
        {
          "value": "secondary plain",
          "label": "t:global.button.button_style.secondary.label",
          "group": "t:global.button.button_style.group.plain"
        },
        {
          "value": "tertiary plain",
          "label": "t:global.button.button_style.tertiary.label",
          "group": "t:global.button.button_style.group.plain"
        },
        {
          "value": "primary inv",
          "label": "t:global.button.button_style.primary.label",
          "group": "t:global.button.button_style.group.inv"
        },
        {
          "value": "secondary inv",
          "label": "t:global.button.button_style.secondary.label",
          "group": "t:global.button.button_style.group.inv"
        },
        {
          "value": "tertiary inv",
          "label": "t:global.button.button_style.tertiary.label",
          "group": "t:global.button.button_style.group.inv"
        },
        {
          "value": "primary link",
          "label": "t:global.button.button_style.primary.label",
          "group": "t:global.button.button_style.group.link"
        },
        {
          "value": "secondary link",
          "label": "t:global.button.button_style.secondary.label",
          "group": "t:global.button.button_style.group.link"
        },
        {
          "value": "tertiary link",
          "label": "t:global.button.button_style.tertiary.label",
          "group": "t:global.button.button_style.group.link"
        }
      ],
      "default": "primary link"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "spacer",
      "name": "t:main.search.blocks.spacer.name",
      "settings": [
        {
          "id": "height",
          "type": "range",
          "label": "t:main.search.blocks.spacer.settings.height.label",
          "min": -100,
          "max": 200,
          "step": 5,
          "unit": "px",
          "default": 20
        }
      ]
    },
    {
      "type": "title",
      "name": "t:main.search.blocks.title.name",
      "settings": [
        {
          "id": "text_alignment",
          "type": "select",
          "label": "t:main.search.blocks.title.settings.text_alignment.label",
          "options": [
            {
              "value": "left",
              "label": "t:main.search.blocks.title.settings.text_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:main.search.blocks.title.settings.text_alignment.options__2.label"
            }
          ],
          "default": "left"
        },
        {
          "type": "select",
          "id": "title_size",
          "label": "t:global.typography.title_size.label",
          "options": [
            {
              "value": "h4",
              "label": "t:global.typography.title_size.h4.label"
            },
            {
              "value": "h3",
              "label": "t:global.typography.title_size.h3.label"
            },
            {
              "value": "h2",
              "label": "t:global.typography.title_size.h2.label"
            },
            {
              "value": "h1",
              "label": "t:global.typography.title_size.h1.label"
            }
          ],
          "default": "h2"
        }
      ]
    },
    {
      "type": "results",
      "name": "t:main.search.blocks.results.name"
    },
    {
      "type": "sorting",
      "name": "t:main.search.blocks.sorting.name"
    }
  ]
}
{% endschema %}
