{%- liquid
  assign limit = section.settings.products.count | at_most: section.settings.number_of_items
  if section.settings.products.count > 0
    assign number_of_items = section.settings.products.count
  else
    assign number_of_items = section.settings.number_of_items
  endif
  if limit == 0
    assign limit = number_of_items
  endif
  if number_of_items > limit
    assign slider = true
  endif

  case limit
    when 0
      assign width_class = 'width-33'
    when 1
      assign width_class = 'width-33'
    when 2
      assign width_class = 'width-50'
    when 3
      assign width_class = 'width-33'
    when 4
      assign width_class = 'width-25'
    when 5
      assign width_class = 'width-20'
    when 6
      assign width_class = 'width-16'
    when 7
      assign width_class = 'width-14'
    else
      assign width_class = 'width-20'
  endcase

  assign img_width_limit = limit
  assign img_width = 100 | divided_by: img_width_limit

  if section.settings.show_link and section.settings.link_text != empty and section.settings.link_url != blank
    assign link = true
  endif

  if section.settings.title != empty or section.settings.text != empty
    assign show_header = true
  endif

  capture title_classes
    if section.settings.text_alignment == 'center'
      echo 'text-center align-center'
    endif
  endcapture

  capture background_classes
    if section.settings.background_overlay_opacity == 0
      echo 'no-padding'
    else
      if section.settings.background_height == 0 or section.settings.background_width == 0 or section.settings.background_overlay_opacity == 0
        echo 'no-padding-desktop'
      endif
      if section.settings.background_height_mobile == 0 or section.settings.background_width_mobile == 0 or section.settings.background_overlay_opacity == 0
        echo ' no-padding-mobile'
      endif
    endif
  endcapture
-%}

{%- capture image_sizes -%}
    (min-width: 1300px)
      {%- if img_width == 100 -%}
          calc(1280px * 0.2)
      {% else %}
          calc(1280px * 0.{{ img_width }})
      {% endif %}
    ,
    (min-width: 1000px)
      {%- if img_width == 100 -%}
          calc(100vw * 0.2)
      {% else %}
          calc(100vw * 0.{{ img_width }})
      {% endif %}
    ,
    (min-width: 760px)
    {% if slider %}
        calc(100vw * 0.3)
    {% else %}
        320px
    {% endif %}
    ,
    170px
{%- endcapture -%}

{%- if link %}
  {%- capture link -%}
    {%- liquid
      assign button_color = section.settings.button_style | split: ' ' | first
      assign button_style = section.settings.button_style | split: ' ' | last
      assign is_link = false
      if button_style == 'link'
        assign is_link = true
      endif
      
      capture button_alignment
        if section.settings.button_alignment == 'start'
          echo 'text-start'
        elsif section.settings.button_alignment == 'center'
          echo 'text-center'
        elsif section.settings.button_alignment == 'end'
          echo 'text-end'
        endif
      endcapture
    -%}
      <p class="class-x link-btn {{ button_alignment }}"><a href="{{ section.settings.link_url }}" class="overlay-{{ button_color }} {% if is_link %}inline strong{% else %}{{ button_style }}{% endif %}">{{ section.settings.link_text }}{% if is_link %}&nbsp;<i aria-hidden="true" class="icon-arrow-right"></i>{% endif %}</a></p>
  {%- endcapture %}
{%- endif -%}

<article class="
  {%- if section.settings.background_color_section -%}
    palette-{{ section.settings.color_palette }}
    module-color-palette
  {% endif %}
  m6bx
  wide
  {{ background_classes }}
">
  <div
    class="palette-{{ section.settings.color_palette }} module-color-palette img-overlay overlay-theme{% if section.settings.background_position == 'right' %} text-end{% endif %}"
    style="--mih_desktop: {{ section.settings.background_height }}%; --dist_half: {{ 100 | minus: section.settings.background_width }}%; --mih_mobile: {{ section.settings.background_height_mobile }}%; --dist_half_mobile: {{ 100 | minus: section.settings.background_width_mobile }}%; opacity:{{ section.settings.background_overlay_opacity | divided_by: 100.0 }}"
  ></div>
  {%- if show_header -%}
    <header
      {% if settings.enable_animations %}
        data-sal="fade" data-sal-duration="500"
      {% endif %}
      class="{{ title_classes }} align-down cols title-styling
      {% if section.settings.title_underline_style != 'none' %}
        title-underline-none
        {% if section.settings.title_underline_style contains 'accent' %}
          title-underline-accent
        {% elsif section.settings.title_underline_style contains 'gradient' %}
          title-underline-gradient
        {% endif %}
        {% if section.settings.title_underline_style contains 'secondary_font' %}
          title-underline-secondary-font
        {% endif %}
      {% endif %}"
      {% if section.settings.enable_custom_font_styling %}
        style="font-size:{{ section.settings.font_size }};"
      {% endif %}
    >
      <div>
        {%- if section.settings.title != empty -%}
          {{ section.settings.title }}
        {%- endif -%}
        {%- if section.settings.text != empty -%}
          <p>
            {{ section.settings.text }}
          </p>
        {%- endif -%}
      </div>
      {%- if link and section.settings.text_alignment == 'start' -%}
        {{ link | replace: 'class-x', 'mobile-hide' }}
      {%- endif -%}
    </header>
  {%- endif -%}
  <ul
    class="l4cl offset {% if slider %}slider{% endif %} {{ width_class }}{% if section.settings.collection_title_position == 'center' %} text-center{% endif %}"
    style="{% if settings.enable_animations %}--nav_delay: 300;{% endif %}"
  >
    {%- liquid
      if section.settings.background_color_section
        assign color_palette = 'palette-' | append: section.settings.color_palette
      else
        assign color_palette = false
      endif
      for product in section.settings.products
        capture placeholder_int
          cycle 1, 2, 3, 4, 5, 6
        endcapture
        render 'product-item', product: product, placeholder_int: placeholder_int, index: forloop.index0, color_palette: color_palette
      endfor
      if section.settings.products.count == 0
        for i in (1..section.settings.number_of_items)
          capture placeholder_int
            cycle 1, 2, 3, 4
          endcapture
          render 'product-item', product: blank, placeholder_int: placeholder_int, index: forloop.index0, color_palette: color_palette
        endfor
      endif
    -%}
  </ul>
  {%- if link and section.settings.text_alignment == 'center' -%}
    {{ link | replace: 'class-x', 'text-center' }}
  {%- elsif link -%}
    {{ link | replace: 'class-x', 'mobile-only' }}
  {%- endif -%}

</article>
<style>
  #shopify-section-{{ section.id }} { z-index: {{ section.settings.fix_zindex }}!important; }
  @media only screen and (min-width: 47.5em) {
      #shopify-section-{{ section.id }} .m6bx { margin-bottom: {{ section.settings.spacing_desktop }}px; }
  }
  @media only screen and (max-width: 47.5em) {
      #shopify-section-{{ section.id }} .m6bx { margin-bottom: {{ section.settings.spacing_mobile }}px; }
  }
</style>

{% schema %}
{
  "name": "t:sections.featured_products.name",
  "tag": "article",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"],
    "templates": ["gift_card", "password"]
  },
  "settings": [
    {
      "id": "products",
      "type": "product_list",
      "label": "t:sections.featured_products.settings.products.label"
    },
    {
      "type": "range",
      "id": "number_of_items",
      "label": "t:sections.featured_products.settings.number_of_items.label",
      "info": "t:sections.featured_products.settings.number_of_items.info",
      "min": 3,
      "max": 6,
      "step": 1,
      "default": 5
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.featured_products.settings.text_alignment.label",
      "options": [
        {
          "value": "start",
          "label": "t:sections.featured_products.settings.text_alignment.options__2.label"
        },
        {
          "value": "center",
          "label": "t:sections.featured_products.settings.text_alignment.options__3.label"
        }
      ],
      "default": "start"
    },
    {
      "type": "header",
      "content": "t:global.background.header"
    },
    {
      "type": "color_scheme",
      "id": "color_palette",
      "label": "t:global.color_palette.label",
      "default": "scheme-6"
    },
    {
      "type": "range",
      "id": "background_overlay_opacity",
      "label": "t:global.background.background_overlay_opacity.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 75
    },
    {
      "type": "select",
      "id": "background_position",
      "label": "t:global.background.background_position.label",
      "options": [
        {
          "value": "left",
          "label": "t:global.background.background_position.options__1.label"
        },
        {
          "value": "right",
          "label": "t:global.background.background_position.options__2.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "background_width",
      "label": "t:global.background.background_width.label",
      "info": "t:global.background.background_width.info",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 50
    },
    {
      "type": "range",
      "id": "background_height",
      "label": "t:global.background.background_height.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100
    },
    {
      "type": "checkbox",
      "id": "background_color_section",
      "label": "t:global.background.background_color_section.label",
      "info": "t:global.background.background_color_section.info"
    },
    {
      "type": "header",
      "content": "t:global.typography.title.label"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "t:global.typography.title.label",
      "info": "t:global.typography.title.info",
      "default": "<h2>Featured products</h2>"
    },
    {
      "type": "select",
      "id": "title_underline_style",
      "label": "t:global.typography.title_underline_style.label",
      "options": [
        {
          "value": "none",
          "label": "t:global.typography.title_underline_style.none.label"
        },
        {
          "value": "secondary_font",
          "label": "t:global.typography.title_underline_style.secondary_font.label",
          "group": "t:global.typography.title_underline_style.group.fonts"
        },
        {
          "value": "secondary_font_accent",
          "label": "t:global.typography.title_underline_style.secondary_font_accent.label",
          "group": "t:global.typography.title_underline_style.group.fonts"
        },
        {
          "value": "secondary_font_gradient",
          "label": "t:global.typography.title_underline_style.secondary_font_gradient.label",
          "group": "t:global.typography.title_underline_style.group.fonts"
        },
        {
          "value": "accent",
          "label": "t:global.typography.title_underline_style.accent.label",
          "group": "t:global.typography.title_underline_style.group.colors"
        },
        {
          "value": "gradient",
          "label": "t:global.typography.title_underline_style.gradient.label",
          "group": "t:global.typography.title_underline_style.group.colors"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:global.typography.text.header"
    },
    {
      "id": "text",
      "type": "inline_richtext",
      "label": "t:global.typography.text.label",
      "default": "Share information and details about these products"
    },
    {
      "type": "checkbox",
      "id": "enable_custom_font_styling",
      "label": "t:global.typography.enable_custom_text_styling.label",
      "info": "t:global.typography.enable_custom_text_styling.text_info"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "t:global.typography.font_size.label",
      "options": [
        {
          "value": "13px",
          "label": "t:global.typography.font_size.13px.label"
        },
        {
          "value": "14px",
          "label": "t:global.typography.font_size.14px.label"
        },
        {
          "value": "16px",
          "label": "t:global.typography.font_size.16px.label"
        },
        {
          "value": "18px",
          "label": "t:global.typography.font_size.18px.label"
        }
      ],
      "default": "16px"
    },
    {
      "type": "header",
      "content": "t:global.button.header"
    },
    {
      "id": "show_link",
      "type": "checkbox",
      "label": "t:global.button.show_link.label",
      "default": true
    },
    {
      "id": "link_text",
      "type": "text",
      "label": "t:global.button.link_text.label",
      "default": "Button"
    },
    {
      "id": "link_url",
      "type": "url",
      "label": "t:global.button.link_url.label"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:global.button.button_style.label",
      "options": [
        {
          "value": "primary solid",
          "label": "t:global.button.button_style.primary.label",
          "group": "t:global.button.button_style.group.solid"
        },
        {
          "value": "secondary solid",
          "label": "t:global.button.button_style.secondary.label",
          "group": "t:global.button.button_style.group.solid"
        },
        {
          "value": "tertiary solid",
          "label": "t:global.button.button_style.tertiary.label",
          "group": "t:global.button.button_style.group.solid"
        },
        {
          "value": "primary plain",
          "label": "t:global.button.button_style.primary.label",
          "group": "t:global.button.button_style.group.plain"
        },
        {
          "value": "secondary plain",
          "label": "t:global.button.button_style.secondary.label",
          "group": "t:global.button.button_style.group.plain"
        },
        {
          "value": "tertiary plain",
          "label": "t:global.button.button_style.tertiary.label",
          "group": "t:global.button.button_style.group.plain"
        },
        {
          "value": "primary inv",
          "label": "t:global.button.button_style.primary.label",
          "group": "t:global.button.button_style.group.inv"
        },
        {
          "value": "secondary inv",
          "label": "t:global.button.button_style.secondary.label",
          "group": "t:global.button.button_style.group.inv"
        },
        {
          "value": "tertiary inv",
          "label": "t:global.button.button_style.tertiary.label",
          "group": "t:global.button.button_style.group.inv"
        },
        {
          "value": "primary link",
          "label": "t:global.button.button_style.primary.label",
          "group": "t:global.button.button_style.group.link"
        },
        {
          "value": "secondary link",
          "label": "t:global.button.button_style.secondary.label",
          "group": "t:global.button.button_style.group.link"
        },
        {
          "value": "tertiary link",
          "label": "t:global.button.button_style.tertiary.label",
          "group": "t:global.button.button_style.group.link"
        }
      ],
      "default": "primary plain"
    },
    {
      "type": "select",
      "id": "button_alignment",
      "label": "Button alignment",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "start"
    },
    {
      "type": "header",
      "content": "t:global.background.mobile.header"
    },
    {
      "type": "range",
      "id": "background_width_mobile",
      "label": "t:global.background.mobile.background_width_mobile.label",
      "info": "t:global.background.mobile.background_width_mobile.info",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100
    },
    {
      "type": "range",
      "id": "background_height_mobile",
      "label": "t:global.background.mobile.background_height_mobile.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100
    },
    {
      "type": "header",
      "content": "t:global.spacing.header"
    },
    {
      "id": "spacing_desktop",
      "type": "range",
      "label": "t:global.spacing.spacing_desktop.label",
      "min": -300,
      "max": 300,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "id": "spacing_mobile",
      "type": "range",
      "label": "t:global.spacing.spacing_mobile.label",
      "min": -300,
      "max": 300,
      "step": 10,
      "unit": "px",
      "default": 30
    },
    {
      "id": "fix_zindex",
      "type": "range",
      "label": "t:global.fix_zindex.label",
      "info": "t:global.fix_zindex.info",
      "min": 0,
      "max": 25,
      "step": 1,
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured_products.presets.name"
    }
  ]
}
{% endschema %}