{%- liquid
  assign limit = section.settings.number_of_items
  case limit
    when 0
      assign width_class = 'width-20'
    when 2
      assign width_class = 'width-50'
    when 3
      assign width_class = 'width-33'
    when 4
      assign width_class = 'width-25'
    when 5
      assign width_class = 'width-20'
    when 6
      assign width_class = 'width-16'
    when 7
      assign width_class = 'width-14'
    when 8
      assign width_class = 'width-12'
    when 9
      assign width_class = 'width-11'
    else
      assign width_class = 'width-10'
  endcase

  capture title_classes
    if section.settings.text_alignment == 'center'
      echo ' text-center align-center'
    endif
  endcapture
-%}

<article>
  {%- if section.settings.title != empty -%}
    <header {% if settings.enable_animations %}data-sal="fade" data-sal-duration="500"{% endif %} class="{{ title_classes }} align-down cols title-styling
      {% if section.settings.title_underline_style != 'none' %}
        title-underline-none
        {% if section.settings.title_underline_style contains 'accent' %}
          title-underline-accent
        {% elsif section.settings.title_underline_style contains 'gradient' %}
          title-underline-gradient
        {% endif %}
        {% if section.settings.title_underline_style contains 'secondary_font' %}
          title-underline-secondary-font
        {% endif %}
      {% endif %}
    ">
      {%- if section.settings.title != empty -%}
        {{ section.settings.title }}
      {%- endif -%}
    </header>
  {%- endif -%}
  <ul class="l4cl {{ width_class }} orientation" style="--ratio:{{ section.settings.custom_image_ratio | divided_by: 100.0 }}; {% if settings.enable_animations %}--nav_delay: 300;{% endif %}"
    data-number_of_items={{ section.settings.number_of_items }}
    {% if section.settings.fill_images %}data-fill_images{% endif %}
  >
  </ul>
</article>
<style>
  #shopify-section-{{ section.id }} { z-index: {{ section.settings.fix_zindex }}!important; }
  #shopify-section-{{ section.id }} article { margin-bottom: {{ section.settings.spacing_desktop | minus: 30 }}px; }
  @media only screen and (max-width: 47.5em) {
    #shopify-section-{{ section.id }} article { margin-bottom: {{ section.settings.spacing_mobile | minus: 26 }}px; }
  }
</style>

{% schema %}
{
  "name": "t:sections.recently_viewed_products.name",
  "tag": "article",
  "class": "recently-viewed-products",
  "disabled_on": {
    "groups": [
      "header",
      "custom.overlay"
    ],
    "templates": [
      "gift_card",
      "password"
    ]
  },
  "settings": [
    {
      "type": "range",
      "id": "number_of_items",
      "label": "t:sections.recently_viewed_products.settings.number_of_items.label",
      "info": "t:sections.recently_viewed_products.settings.number_of_items.info",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 8
    },
    {
      "id": "custom_image_ratio",
      "type": "range",
      "label": "t:sections.recently_viewed_products.settings.custom_image_ratio.label",
      "info": "t:sections.recently_viewed_products.settings.custom_image_ratio.info",
      "min": 50,
      "max": 175,
      "step": 5,
      "unit": "%",
      "default": 100
    },
    {
      "id": "fill_images",
      "type": "checkbox",
      "label": "t:sections.recently_viewed_products.settings.fill_images.label",
      "default": true
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.recently_viewed_products.settings.text_alignment.label",
      "options": [
        {
          "value": "start",
          "label": "t:sections.recently_viewed_products.settings.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.recently_viewed_products.settings.text_alignment.options__2.label"
        }
      ],
      "default": "start"
    },
    {
      "type": "header",
      "content": "t:global.typography.title.label"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "t:global.typography.title.label",
      "info": "t:global.typography.title.info",
      "default": "<h2>Recently viewed products</h2>"
    },
    {
      "type": "select",
      "id": "title_underline_style",
      "label": "t:global.typography.title_underline_style.label",
      "options": [
        {
          "value": "none",
          "label": "t:global.typography.title_underline_style.none.label"
        },
        {
          "value": "secondary_font",
          "label": "t:global.typography.title_underline_style.secondary_font.label",
          "group": "t:global.typography.title_underline_style.group.fonts"
        },
        {
          "value": "secondary_font_accent",
          "label": "t:global.typography.title_underline_style.secondary_font_accent.label",
          "group": "t:global.typography.title_underline_style.group.fonts"
        },
        {
          "value": "secondary_font_gradient",
          "label": "t:global.typography.title_underline_style.secondary_font_gradient.label",
          "group": "t:global.typography.title_underline_style.group.fonts"
        },
        {
          "value": "accent",
          "label": "t:global.typography.title_underline_style.accent.label",
          "group": "t:global.typography.title_underline_style.group.colors"
        },
        {
          "value": "gradient",
          "label": "t:global.typography.title_underline_style.gradient.label",
          "group": "t:global.typography.title_underline_style.group.colors"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:global.spacing.header"
    },
    {
      "id": "spacing_desktop",
      "type": "range",
      "label": "t:global.spacing.spacing_desktop.label",
      "min": -300,
      "max": 300,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "id": "spacing_mobile",
      "type": "range",
      "label": "t:global.spacing.spacing_mobile.label",
      "min": -300,
      "max": 300,
      "step": 10,
      "unit": "px",
      "default": 30
    },
    {
      "id": "fix_zindex",
      "type": "range",
      "label": "t:global.fix_zindex.label",
      "info": "t:global.fix_zindex.info",
      "min": 0,
      "max": 25,
      "step": 1,
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:sections.recently_viewed_products.presets.name"
    }
  ]
}
{% endschema %}
