{% liquid
  assign poster = ''
  if section.settings.image != blank
    assign poster = section.settings.image | image_url
  else
    assign poster = section.settings.video.preview_image | image_url
  endif

  assign controls_video_url = false
  if section.settings.enable_controls
    if section.settings.video_url != empty and section.settings.image != blank
      assign controls_video_url = true
    elsif section.settings.video and section.settings.video_url == blank
      assign controls_video_url = true
    endif
  endif

  capture background_classes
    if section.settings.background_overlay_opacity == 0
      echo 'no-padding'
    else
      if section.settings.background_height == 0 or section.settings.background_width == 0
        echo 'no-padding-desktop'
      endif
      if section.settings.background_height_mobile == 0 or section.settings.background_width_mobile == 0
        echo ' no-padding-mobile'
      endif
    endif
  endcapture
-%}
<article class="{% if section.settings.background_color_section %}palette-{{ section.settings.color_palette }} module-color-palette{% endif %} m6bx wide{% if section.settings.text_position == 'center' %} text-center{% endif %} next-video {{ background_classes }}">
  <div
    class="palette-{{ section.settings.color_palette }} module-color-palette img-overlay overlay-theme{% if section.settings.background_position == 'right' %} text-end{% endif %}"
    style="--mih_desktop: {{ section.settings.background_height }}%; --dist_half: {{ 100 | minus: section.settings.background_width }}%; --mih_mobile: {{ section.settings.background_height_mobile }}%; --dist_half_mobile: {{ 100 | minus: section.settings.background_width_mobile }}%; opacity:{{ section.settings.background_overlay_opacity | divided_by: 100.0 }}"
  ></div>
  <figure
    {% if settings.enable_animations %}
      data-sal="fade" data-sal-duration="500"
    {% endif %}
    class="margin-30 margin-mobile-20{% if section.settings.width == 'wide' %} media-wide{% endif %} orientation-landscape"
    style="--ratio: 0.5"
  >
    {% if controls_video_url -%}
      <a
        href="./"
        {% if section.settings.video_url %}
          data-{{ section.settings.video_url.type }}="{{ section.settings.video_url.id }}"
        {% endif %}
        aria-label="Play video"
      >
    {%- endif %}
    {% if section.settings.image and section.settings.enable_controls %}
      <span
        class="img-overlay"
        style="--overlay_opacity:{{ section.settings.overlay_opacity | divided_by: 100.0 }}"
      ></span>
    {% endif %}
    <picture class="img-cover">
      {% if section.settings.video_url != blank %}
        {% if section.settings.image != blank and controls_video_url %}
          <img
            src="{{ section.settings.image | image_url: width: 100, height: 100, width: 640 }}"
            srcset="{% render 'image-srcset', image: section.settings.image %}"
            sizes="
              {% if settings.width < 2000 %}
                (min-width: 1300px) calc({{ settings.width }}px / 2),
              {% endif %}
              (min-width: 760px) calc(100vw / 2),
              100vw
            "
            width="640"
            height="530"
            alt="{{ section.settings.image.alt | default: section.settings.title | escape }}"
            loading="lazy"
          >
        {% else %}
          <iframe
            src="{{ section.settings.video_url | replace: 'watch?v=', 'embed/' | replace: '//vimeo.com/', '//player.vimeo.com/video/' }}"
            title="{{ section.settings.video_alt_text | escape }}"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        {% endif %}
      {% elsif section.settings.video %}
        {%- liquid
          assign source = section.settings.video.sources | where: 'height', 1080 | where: 'format', 'mp4' | first
          if source == null
            assign source = section.settings.video.sources | where: 'format', 'mp4' | first
          endif
          if source == null
            assign source = section.settings.video.sources | where: 'format', 'mov' | first
          endif
          if source == null
            assign source = section.settings.video.sources.first
          endif
        -%}
        <video
          {% if controls_video_url %}
            {%- if section.settings.video_mute %} muted{% endif -%}
          {% else %}
            autoplay muted
          {% endif %}
          loop
          playsinline
          poster="{{ poster }}"
        >
          <source src="{{ source.url }}" type="video/mp4">
        </video>
      {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
    </picture>
    {% if controls_video_url %}
      <i aria-hidden="true" class="icon-play"></i>
    {% endif %}
    {% if controls_video_url %}</a>{% endif %}
  </figure>
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when '@app' -%}
        {% render block %}
      {%- when 'spacer' -%}
        <style>
          @media only screen and (min-width: 47.5em) {
            #shopify-section-{{ section.id }} #block-{{ block.id }} { margin-bottom:{{ block.settings.height }}px; }
          }
          @media only screen and (max-width: 47.5em) {
            #shopify-section-{{ section.id }} #block-{{ block.id }} { margin-bottom:{{ block.settings.height_mobile }}px; }
          }
        </style>
        <div class="module-spacer" id="block-{{ block.id }}" {{ block.shopify_attributes }}></div>
      {% when 'title' -%}
        {%- if block.settings.title -%}
          <div
            class="
              heading
              {% if block.settings.title_underline_style != 'none' %}
                title-underline-none
                {% if block.settings.title_underline_style contains 'accent' %}
                  title-underline-accent
                {% elsif block.settings.title_underline_style contains 'gradient' %}
                  title-underline-gradient
                {% endif %}
                {% if block.settings.title_underline_style contains 'secondary_font' %}
                  title-underline-secondary-font
                {% endif %}
              {% endif %}
            "
          >
            {{ block.settings.title }}
          </div>
        {%- endif -%}
      {% when 'text' -%}
        {% if block.settings.text != empty %}
          <div
            class="ff-{{ block.settings.font }} margin-0"
            style="font-size:{{ block.settings.font_size }};"
            {{ block.shopify_attributes }}
          >
            {{ block.settings.text }}
          </div>
        {% endif %}
      {% when 'buttons' -%}
        {%- liquid
          assign first_link = false
          assign first_show_link = false
          assign second_link = false
          assign second_show_link = false

          if block.settings.show_first_link and block.settings.first_link_text != empty and block.settings.first_link_url != blank
            assign first_link = true
            assign first_button_color = block.settings.first_button_style | split: ' ' | first
            assign first_button_style = block.settings.first_button_style | split: ' ' | last
            if first_button_style == 'link'
              assign first_show_link = true
            endif
          endif
          if block.settings.show_second_link and block.settings.second_link_text != empty and block.settings.second_link_url != blank
            assign second_link = true
            assign second_button_color = block.settings.second_button_style | split: ' ' | first
            assign second_button_style = block.settings.second_button_style | split: ' ' | last
            if second_button_style == 'link'
              assign second_show_link = true
            endif
          endif
        -%}
        {%- if first_link or second_link -%}
          <p
            class="link-btn"
            style="--dist_ba: 20px;"
          >
            {% if first_link %}
              <a
                href="{{ block.settings.first_link_url }}"
                class="overlay-{{ first_button_color }} {% if first_show_link %} strong inline{% else %} {{ first_button_style }}{% endif %}"
              >
                {% if block.settings.icon_1 -%}
                  {{-
                    block.settings.icon_1
                    | image_url: width: block.settings.icon_width_1
                    | image_tag: width: block.settings.icon_width_1
                  -}}
                {%- endif %}
                <span
                  {% if first_show_link %}
                    class="link-underline"
                  {% endif %}
                >
                  {{- block.settings.first_link_text -}}
                  {% if first_show_link %}&nbsp;<i aria-hidden="true" class="icon-arrow-right"></i>{% endif %}
                </span>
              </a>
            {% endif %}
            {%- if second_link -%}
              <a
                href="{{ block.settings.second_link_url }}"
                class="overlay-{{ second_button_color }} {% if second_show_link %} strong inline{% else %} {{ second_button_style }}{% endif %}"
              >
                {% if block.settings.icon_2 -%}
                  {{-
                    block.settings.icon_2
                    | image_url: width: block.settings.icon_width_2
                    | image_tag: width: block.settings.icon_width_2
                  -}}
                {%- endif %}
                <span
                  {% if second_show_link %}
                    class="link-underline"
                  {% endif %}
                >
                  {{- block.settings.second_link_text -}}
                  {% if second_show_link -%}
                    &nbsp;<i aria-hidden="true" class="icon-arrow-right"></i>
                  {%- endif %}
                </span>
              </a>
            {%- endif -%}
          </p>
        {%- endif -%}
    {%- endcase -%}
  {%- endfor -%}
</article>

<style>
  #shopify-section-{{ section.id }} { z-index: {{ section.settings.fix_zindex }}!important; }
  #shopify-section-{{ section.id }} .m6bx { margin-bottom: {{ section.settings.spacing_desktop }}px; }
  @media only screen and (max-width: 47.5em) {
    #shopify-section-{{ section.id }} .m6bx { margin-bottom: {{ section.settings.spacing_mobile }}px; }
  }
</style>

{% schema %}
{
  "name": "t:sections.video_with_text.name",
  "disabled_on": {
    "groups": ["header", "footer", "custom.overlay"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.video_with_text.settings.image.label"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:sections.video_with_text.settings.video.label"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "t:sections.video_with_text.settings.overlay_opacity.label",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 0
    },
    {
      "id": "enable_controls",
      "type": "checkbox",
      "label": "t:global.video.enable_controls.label",
      "info": "t:global.video.enable_controls.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "video_mute",
      "label": "t:global.video.video_mute.label",
      "info": "t:global.video.video_mute.info",
      "default": true
    },
    {
      "id": "video_url",
      "type": "video_url",
      "accept": ["vimeo", "youtube"],
      "label": "t:sections.video_with_text.settings.video_url.label"
    },
    {
      "id": "video_alt_text",
      "type": "text",
      "label": "t:sections.video_with_text.settings.video_alt_text.label",
      "info": "t:sections.video_with_text.settings.video_alt_text.info"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:sections.video_with_text.settings.width.label",
      "options": [
        {
          "value": "boxed",
          "label": "t:sections.video_with_text.settings.width.options__1.label"
        },
        {
          "value": "wide",
          "label": "t:sections.video_with_text.settings.width.options__2.label"
        }
      ],
      "default": "boxed"
    },
    {
      "id": "text_position",
      "type": "select",
      "label": "t:sections.video_with_text.settings.text_position.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.video_with_text.settings.text_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.video_with_text.settings.text_position.options__2.label"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:global.background.header"
    },
    {
      "type": "color_scheme",
      "id": "color_palette",
      "label": "t:global.color_palette.label",
      "default": "scheme-6"
    },
    {
      "type": "range",
      "id": "background_overlay_opacity",
      "label": "t:global.background.background_overlay_opacity.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 75
    },
    {
      "type": "select",
      "id": "background_position",
      "label": "t:global.background.background_position.label",
      "options": [
        {
          "value": "left",
          "label": "t:global.background.background_position.options__1.label"
        },
        {
          "value": "right",
          "label": "t:global.background.background_position.options__2.label"
        }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "background_width",
      "label": "t:global.background.background_width.label",
      "info": "t:global.background.background_width.info",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 50
    },
    {
      "type": "range",
      "id": "background_height",
      "label": "t:global.background.background_height.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100
    },
    {
      "type": "checkbox",
      "id": "background_color_section",
      "label": "t:global.background.background_color_section.label",
      "info": "t:global.background.background_color_section.info",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.video_with_text.settings.mobile.header"
    },
    {
      "type": "range",
      "id": "background_width_mobile",
      "label": "t:global.background.mobile.background_width_mobile.label",
      "info": "t:global.background.mobile.background_width_mobile.info",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100
    },
    {
      "type": "range",
      "id": "background_height_mobile",
      "label": "t:global.background.mobile.background_height_mobile.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100
    },
    {
      "type": "header",
      "content": "t:global.spacing.header"
    },
    {
      "id": "spacing_desktop",
      "type": "range",
      "label": "t:global.spacing.spacing_desktop.label",
      "min": -300,
      "max": 300,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "id": "spacing_mobile",
      "type": "range",
      "label": "t:global.spacing.spacing_mobile.label",
      "min": -300,
      "max": 300,
      "step": 10,
      "unit": "px",
      "default": 30
    },
    {
      "id": "fix_zindex",
      "type": "range",
      "label": "t:global.fix_zindex.label",
      "info": "t:global.fix_zindex.info",
      "min": 0,
      "max": 25,
      "step": 1,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "spacer",
      "name": "t:sections.video_with_text.blocks.spacer.name",
      "settings": [
        {
          "id": "height",
          "type": "range",
          "label": "t:sections.video_with_text.blocks.spacer.settings.height.label",
          "min": -50,
          "max": 200,
          "step": 5,
          "unit": "px",
          "default": 20
        },
        {
          "id": "height_mobile",
          "type": "range",
          "label": "t:sections.rich_text.blocks.spacer.settings.height_mobile.label",
          "min": -300,
          "max": 300,
          "step": 10,
          "unit": "px",
          "default": 20
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.video_with_text.blocks.title.name",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "label": "t:global.typography.title.label",
          "info": "t:global.typography.title.info",
          "default": "<h2>Video banner</h2>"
        },
        {
          "type": "select",
          "id": "title_underline_style",
          "label": "t:global.typography.title_underline_style.label",
          "options": [
            {
              "value": "none",
              "label": "t:global.typography.title_underline_style.none.label"
            },
            {
              "value": "secondary_font",
              "label": "t:global.typography.title_underline_style.secondary_font.label",
              "group": "t:global.typography.title_underline_style.group.fonts"
            },
            {
              "value": "secondary_font_accent",
              "label": "t:global.typography.title_underline_style.secondary_font_accent.label",
              "group": "t:global.typography.title_underline_style.group.fonts"
            },
            {
              "value": "secondary_font_gradient",
              "label": "t:global.typography.title_underline_style.secondary_font_gradient.label",
              "group": "t:global.typography.title_underline_style.group.fonts"
            },
            {
              "value": "accent",
              "label": "t:global.typography.title_underline_style.accent.label",
              "group": "t:global.typography.title_underline_style.group.colors"
            },
            {
              "value": "gradient",
              "label": "t:global.typography.title_underline_style.gradient.label",
              "group": "t:global.typography.title_underline_style.group.colors"
            }
          ]
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.video_with_text.blocks.text.name",
      "settings": [
        {
          "id": "text",
          "type": "richtext",
          "label": "t:sections.video_with_text.blocks.text.settings.text.label",
          "default": "<p>Pair text with a video and tell your customers something about this product, collection, blogpost or a promotion.</p>"
        },
        {
          "type": "select",
          "id": "font",
          "label": "t:global.typography.font.label",
          "options": [
            {
              "value": "primary",
              "label": "t:global.typography.font.primary.label"
            },
            {
              "value": "secondary",
              "label": "t:global.typography.font.secondary.label"
            }
          ],
          "default": "secondary"
        },
        {
          "type": "select",
          "id": "font_size",
          "label": "t:global.typography.font_size.label",
          "options": [
            {
              "value": "13px",
              "label": "t:global.typography.font_size.13px.label"
            },
            {
              "value": "14px",
              "label": "t:global.typography.font_size.14px.label"
            },
            {
              "value": "16px",
              "label": "t:global.typography.font_size.16px.label"
            },
            {
              "value": "18px",
              "label": "t:global.typography.font_size.18px.label"
            }
          ],
          "default": "16px"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.video_with_text.blocks.buttons.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.slide.settings.buttons.first_button.label"
        },
        {
          "id": "show_first_link",
          "type": "checkbox",
          "label": "t:global.button.show_link.label",
          "default": true
        },
        {
          "id": "first_link_text",
          "type": "text",
          "label": "t:global.button.link_text.label",
          "info": "t:global.button.link_text.info",
          "default": "Button"
        },
        {
          "id": "first_link_url",
          "type": "url",
          "label": "t:global.button.link_url.label",
          "default": "/"
        },
        {
          "type": "select",
          "id": "first_button_style",
          "label": "t:global.button.button_style.label",
          "options": [
            {
              "value": "primary solid",
              "label": "t:global.button.button_style.primary.label",
              "group": "t:global.button.button_style.group.solid"
            },
            {
              "value": "secondary solid",
              "label": "t:global.button.button_style.secondary.label",
              "group": "t:global.button.button_style.group.solid"
            },
            {
              "value": "tertiary solid",
              "label": "t:global.button.button_style.tertiary.label",
              "group": "t:global.button.button_style.group.solid"
            },
            {
              "value": "primary plain",
              "label": "t:global.button.button_style.primary.label",
              "group": "t:global.button.button_style.group.plain"
            },
            {
              "value": "secondary plain",
              "label": "t:global.button.button_style.secondary.label",
              "group": "t:global.button.button_style.group.plain"
            },
            {
              "value": "tertiary plain",
              "label": "t:global.button.button_style.tertiary.label",
              "group": "t:global.button.button_style.group.plain"
            },
            {
              "value": "primary inv",
              "label": "t:global.button.button_style.primary.label",
              "group": "t:global.button.button_style.group.inv"
            },
            {
              "value": "secondary inv",
              "label": "t:global.button.button_style.secondary.label",
              "group": "t:global.button.button_style.group.inv"
            },
            {
              "value": "tertiary inv",
              "label": "t:global.button.button_style.tertiary.label",
              "group": "t:global.button.button_style.group.inv"
            },
            {
              "value": "primary link",
              "label": "t:global.button.button_style.primary.label",
              "group": "t:global.button.button_style.group.link"
            },
            {
              "value": "secondary link",
              "label": "t:global.button.button_style.secondary.label",
              "group": "t:global.button.button_style.group.link"
            },
            {
              "value": "tertiary link",
              "label": "t:global.button.button_style.tertiary.label",
              "group": "t:global.button.button_style.group.link"
            }
          ],
          "default": "primary plain"
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.slide.settings.buttons.second_button.label"
        },
        {
          "id": "show_second_link",
          "type": "checkbox",
          "label": "t:global.button.show_link.label",
          "default": true
        },
        {
          "id": "second_link_text",
          "type": "text",
          "label": "t:global.button.link_text.label",
          "default": "Button"
        },
        {
          "id": "second_link_url",
          "type": "url",
          "label": "t:global.button.link_url.label",
          "default": "/"
        },
        {
          "type": "select",
          "id": "second_button_style",
          "label": "t:global.button.button_style.label",
          "options": [
            {
              "value": "primary solid",
              "label": "t:global.button.button_style.primary.label",
              "group": "t:global.button.button_style.group.solid"
            },
            {
              "value": "secondary solid",
              "label": "t:global.button.button_style.secondary.label",
              "group": "t:global.button.button_style.group.solid"
            },
            {
              "value": "tertiary solid",
              "label": "t:global.button.button_style.tertiary.label",
              "group": "t:global.button.button_style.group.solid"
            },
            {
              "value": "primary plain",
              "label": "t:global.button.button_style.primary.label",
              "group": "t:global.button.button_style.group.plain"
            },
            {
              "value": "secondary plain",
              "label": "t:global.button.button_style.secondary.label",
              "group": "t:global.button.button_style.group.plain"
            },
            {
              "value": "tertiary plain",
              "label": "t:global.button.button_style.tertiary.label",
              "group": "t:global.button.button_style.group.plain"
            },
            {
              "value": "primary inv",
              "label": "t:global.button.button_style.primary.label",
              "group": "t:global.button.button_style.group.inv"
            },
            {
              "value": "secondary inv",
              "label": "t:global.button.button_style.secondary.label",
              "group": "t:global.button.button_style.group.inv"
            },
            {
              "value": "tertiary inv",
              "label": "t:global.button.button_style.tertiary.label",
              "group": "t:global.button.button_style.group.inv"
            },
            {
              "value": "primary link",
              "label": "t:global.button.button_style.primary.label",
              "group": "t:global.button.button_style.group.link"
            },
            {
              "value": "secondary link",
              "label": "t:global.button.button_style.secondary.label",
              "group": "t:global.button.button_style.group.link"
            },
            {
              "value": "tertiary link",
              "label": "t:global.button.button_style.tertiary.label",
              "group": "t:global.button.button_style.group.link"
            }
          ],
          "default": "secondary plain"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.video_with_text.presets.name",
      "settings": {},
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
